<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
  <context id="context1">
    <plugin type="io.starter.ignite.generator.MyBatisIgnitePluginAdapter" />
    <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
    <!-- TODO <plugin type="io.starter.ignite.generator.MyBatisIgnitePluginAdapter"> 
			<property name="annotationClass" value="io.starter.ignite.security.securefield.SecureField" 
			/> <property name="annotationString" value="@SecureField" /> </plugin> -->
    <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://${dbUrl}:3306/${dbName}?autoReconnect=true" userId="${dbUser}" password="${dbPassword}" />
    <!-- Model Class -->
    <javaModelGenerator targetPackage="io.starter.${artifactId}.model.dao" targetProject="${myBatisMain}main/java">
      <property name="useActualColumnNames" value="true" />
      <property name="enableSubPackages" value="false" />
      <property name="trimStrings" value="true" />
      <property name="rootClass" value="io.starter.ignite.model.DataModelBase" />
      <property name="type" value="io.starter.ignite.generator.MyBatisIgnitePluginAdapter" />
      <property name="addRemarkComments" value="true" />
    </javaModelGenerator>
    <sqlMapGenerator targetPackage="io.starter.${artifactId}.sqlmaps" targetProject="${myBatisMain}main/resources" />
    <javaClientGenerator targetPackage="io.starter.${artifactId}.model.dao" targetProject="${myBatisMain}main/java" type="XMLMAPPER">
      <property name="useActualColumnNames" value="true" />
    </javaClientGenerator>
    <table schema="${artifactId}" tableName="PLACEHOLDER_NODE" modelType="hierarchical" />
    <table schema="starter" tableName="starter$_user">
      <generatedKey column="id" sqlStatement="JDBC" />
    </table>
    <table schema="starter" tableName="starter$_content">
      <generatedKey column="id" sqlStatement="JDBC" />
    </table>
  </context>
  <!-- <context id="wp_context"> <jdbcConnection driverClass="com.mysql.jdbc.Driver" 
		connectionURL="jdbc:mysql://chukl.es:3306/${dbName}" userId="${dbName}_user" 
		password="abcdefg"> </jdbcConnection> <javaModelGenerator targetPackage="io.starter.wp_model" 
		targetProject="${dbName}/src/main/java" /> <sqlMapGenerator targetPackage="io.starter.wp_sqlmaps" 
		targetProject="${dbName}/src/main/java"></sqlMapGenerator> <javaClientGenerator 
		targetPackage="io.starter.wp_dao" targetProject="${dbName}/src/main/java" 
		type="XMLMAPPER" /> <table schema="${dbName}" tableName="wp_posts"> 
		<generatedKey column="ID" sqlStatement="JDBC" /> </table> <table schema="${dbName}" 
		tableName="wp_term_taxonomy"> <generatedKey column="term_taxonomy_id" sqlStatement="JDBC" 
		/> </table> <table schema="${dbName}" tableName="wp_postmeta"> <generatedKey 
		column="meta_id" sqlStatement="JDBC" /> </table> </context> -->
</generatorConfiguration>

