package {{basePackage}};

import java.sql.Connection;

import org.springframework.boot.CommandLineRunner;
import org.springframework.boot.ExitCodeGenerator;
import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.Bean;

import io.starter.ignite.security.dao.ConnectionFactory;
import springfox.documentation.swagger2.annotations.EnableSwagger2;

@SpringBootApplication
@EnableSwagger2
@ComponentScan(basePackages = { "{{basePackage}}", "{{apiPackage}}" , "{{modelPackage}}", "{{configPackage}}"})
public class Swagger2SpringBoot implements CommandLineRunner {

    @Override
    public void run(String... arg0) throws Exception {
        if (arg0.length > 0 && arg0[0].equals("exitcode")) {
            throw new ExitException();
        }
    }

    public static void main(String[] args) throws Exception {
        new SpringApplication(Swagger2SpringBoot.class).run(args);
    } 

	/**
	 * provide single connection pool instance management
	 * 
	 */
	@Bean
	public Connection getConnection() {
		try {
			return ConnectionFactory.getConnection();
		} catch (java.sql.SQLException e) {
			e.printStackTrace();
		}
		return null;
	}


    class ExitException extends RuntimeException implements ExitCodeGenerator {
        private static final long serialVersionUID = 1L;

        @Override
        public int getExitCode() {
            return 10;
        }

    }
}
