.body{
    font-family: arial;
    background-color:yellow;
}

.csat-widget {
    background-color: #f6f9fc;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    color: #525f7f;
    display: none;
}
article h2~p {
    padding-top: 11px;
}
article blockquote, article dl, article ol, article p, article table tbody, article ul {
    font-size: 15px;
    color: #373e42;
    line-height: 26px;
}
blockquote, body, button, dd, dl, figure, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.button-style-left{
 float:left;
}

.button-style-right{
 float:right;
}

.button-style{
    background-color:
    rgb(246, 249, 252)
    ;
    border-bottom-color:
    rgb(82, 95, 127)
    ;
    border-bottom-left-radius:
    5px
    ;
    border-bottom-right-radius:
    5px
    ;
    border-bottom-style:
    none
    ;
    border-bottom-width:
    0px
    ;
    border-image-outset:
    0px
    ;
    border-image-repeat:
    stretch
    ;
    border-image-slice:
    100%
    ;
    border-image-source:
    none
    ;
    border-image-width:
    1
    ;
    border-left-color:
    rgb(82, 95, 127)
    ;
    border-left-style:
    none
    ;
    border-left-width:
    0px
    ;
    border-right-color:
    #373e42
    ;
    
    border-right-width:
    1px
    ;
    border-top-color:
    rgb(82, 95, 127)
    ;
    border-top-left-radius:
    5px
    ;
    border-top-right-radius:
    5px
    ;
    border-top-style:
    none
    ;
    border-top-width:
    0px
    ;
    box-sizing:
    border-box
    ;
    color:
    rgb(82, 95, 127)
    ;
    display:
    block
    ;
    font-family:
    Camphor, "Open Sans", "Segoe UI", sans-serif
    ;
    font-feature-settings:
    "pnum"
    ;
    font-size:
    15px
    ;
    font-style:
    normal
    ;
    font-variant-numeric:
    proportional-nums
    ;
    font-weight:
    400
    ;
    height:
    64px
    ;
    line-height:
    26px
    ;
    margin-block-end:
    0px
    ;
    margin-block-start:
    20px
    ;
    margin-bottom:
    0px
    ;
    margin-inline-end:
    0px
    ;
    margin-inline-start:
    0px
    ;
    margin-left:
    0px
    ;
    margin-right:
    0px
    ;
    margin-top:
    20px
    ;
    padding-bottom:
    20px
    ;
    padding-left:
    20px
    ;
    padding-right:
    20px
    ;
    padding-top:
    17px
    ;
    text-rendering:
    optimizelegibility
    ;
    text-size-adjust:
    100%
    ;

    -webkit-box-direction:
    normal
    ;
    -webkit-font-smoothing:
    antialiased
    ;
}