swagger: "2.0"
info:
  description: "This is a chainring server"
  version: "1.0.0"
  title: "Swagger Chainring"
  termsOfService: "http://starter.io/terms/"
  contact:
    email: "admin@starter.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "chainring.pro"
basePath: "/v1"
tags:
- name: "trade"
  description: "Everything about your trades"
  externalDocs:
    description: "Find out more"
    url: "http://starter.io"
- name: "order"
  description: "Access to chainring orders"
- name: "user"
  description: "Operations about user"
  externalDocs:
    description: "Find out more about our order"
    url: "http://starter.io"
schemes:
- "https"
- "http"
paths:
  /trade:
    post:
      tags:
      - "trade"
      summary: "Add a new trade to the order"
      description: ""
      operationId: "addtrade"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "trade object that needs to be added to the order"
        required: true
        schema:
          $ref: "#/definitions/trade"
      responses:
        405:
          description: "Invalid input"
      security:
      - chainring_auth:
        - "write:trades"
        - "read:trades"
    put:
      tags:
      - "trade"
      summary: "Update an existing trade"
      description: ""
      operationId: "updatetrade"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "trade object that needs to be added to the order"
        required: true
        schema:
          $ref: "#/definitions/trade"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "trade not found"
        405:
          description: "Validation exception"
      security:
      - chainring_auth:
        - "write:trades"
        - "read:trades"
  /trade/findByStatus:
    get:
      tags:
      - "trade"
      summary: "Finds trades by status"
      description: "Multiple status values can be provided with comma separated strings"
      operationId: "findtradesByStatus"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "status"
        in: "query"
        description: "Status values that need to be considered for filter"
        required: true
        type: "array"
        items:
          type: "string"
          enum:
          - "available"
          - "pending"
          - "closed"
          default: "available"
        collectionFormat: "multi"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/trade"
        400:
          description: "Invalid status value"
      security:
      - chainring_auth:
        - "write:trades"
        - "read:trades"
  /trade/findByTags:
    get:
      tags:
      - "trade"
      summary: "Finds trades by tags"
      description: "Muliple tags can be provided with comma separated strings. Use         tag1, tag2, tag3 for testing."
      operationId: "findtradesByTags"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "tags"
        in: "query"
        description: "Tags to filter by"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/trade"
        400:
          description: "Invalid tag value"
      security:
      - chainring_auth:
        - "write:trades"
        - "read:trades"
      deprecated: true
  /trade/{tradeId}:
    get:
      tags:
      - "trade"
      summary: "Find trade by ID"
      description: "Returns a single trade"
      operationId: "gettradeById"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "tradeId"
        in: "path"
        description: "ID of trade to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/trade"
        400:
          description: "Invalid ID supplied"
        404:
          description: "trade not found"
      security:
      - api_key: []
    post:
      tags:
      - "trade"
      summary: "Updates a trade in the order with form data"
      description: ""
      operationId: "updatetradeWithForm"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "tradeId"
        in: "path"
        description: "ID of trade that needs to be updated"
        required: true
        type: "integer"
        format: "int64"
      - name: "name"
        in: "formData"
        description: "Updated name of the trade"
        required: false
        type: "string"
      - name: "status"
        in: "formData"
        description: "Updated status of the trade"
        required: false
        type: "string"
      responses:
        405:
          description: "Invalid input"
      security:
      - chainring_auth:
        - "write:trades"
        - "read:trades"
    delete:
      tags:
      - "trade"
      summary: "Deletes a trade"
      description: ""
      operationId: "deletetrade"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "api_key"
        in: "header"
        required: false
        type: "string"
      - name: "tradeId"
        in: "path"
        description: "trade id to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "trade not found"
      security:
      - chainring_auth:
        - "write:trades"
        - "read:trades"
  /trade/{tradeId}/uploadImage:
    post:
      tags:
      - "trade"
      summary: "uploads an image"
      description: ""
      operationId: "uploadFile"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "tradeId"
        in: "path"
        description: "ID of trade to update"
        required: true
        type: "integer"
        format: "int64"
      - name: "additionalMetadata"
        in: "formData"
        description: "Additional data to pass to server"
        required: false
        type: "string"
      - name: "file"
        in: "formData"
        description: "file to upload"
        required: false
        type: "file"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
      security:
      - chainring_auth:
        - "write:trades"
        - "read:trades"
  /order/inventory:
    get:
      tags:
      - "order"
      summary: "Returns trade inventories by status"
      description: "Returns a map of status codes to quantities"
      operationId: "getInventory"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
            additionalProperties:
              type: "integer"
              format: "int32"
      security:
      - api_key: []
  /order/order:
    post:
      tags:
      - "order"
      summary: "Place an order for a trade"
      description: ""
      operationId: "placeOrder"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "order placed for purchasing the trade"
        required: true
        schema:
          $ref: "#/definitions/Order"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Order"
        400:
          description: "Invalid Order"
  /order/order/{orderId}:
    get:
      tags:
      - "order"
      summary: "Find purchase order by ID"
      description: "For valid response try integer IDs with value >= 1 and <= 10.         Other values will generated exceptions"
      operationId: "getOrderById"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: "ID of trade that needs to be fetched"
        required: true
        type: "integer"
        maximum: 10.0
        minimum: 1.0
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Order"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Order not found"
    delete:
      tags:
      - "order"
      summary: "Delete purchase order by ID"
      description: "For valid response try integer IDs with positive integer value.         Negative or non-integer values will generate API errors"
      operationId: "deleteOrder"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: "ID of the order that needs to be deleted"
        required: true
        type: "integer"
        minimum: 1.0
        format: "int64"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Order not found"
  /user:
    post:
      tags:
      - "user"
      summary: "Create user"
      description: "This can only be done by the logged in user."
      operationId: "createUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Created user object"
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        default:
          description: "successful operation"
  /user/createWithArray:
    post:
      tags:
      - "user"
      summary: "Creates list of users with given input array"
      description: ""
      operationId: "createUsersWithArrayInput"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "List of user object"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/User"
      responses:
        default:
          description: "successful operation"
  /user/createWithList:
    post:
      tags:
      - "user"
      summary: "Creates list of users with given input array"
      description: ""
      operationId: "createUsersWithListInput"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "List of user object"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/User"
      responses:
        default:
          description: "successful operation"
  /user/login:
    get:
      tags:
      - "user"
      summary: "Logs user into the system"
      description: ""
      operationId: "loginUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "username"
        in: "query"
        description: "The user name for login"
        required: true
        type: "string"
      - name: "password"
        in: "query"
        description: "The password for login in clear text"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
          headers:
            X-Rate-Limit:
              type: "integer"
              format: "int32"
              description: "calls per hour allowed by the user"
            X-Expires-After:
              type: "string"
              format: "date-time"
              description: "date in UTC when token expires"
        400:
          description: "Invalid username/password supplied"
  /user/logout:
    get:
      tags:
      - "user"
      summary: "Logs out current logged in user session"
      description: ""
      operationId: "logoutUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters: []
      responses:
        default:
          description: "successful operation"
  /user/{username}:
    get:
      tags:
      - "user"
      summary: "Get user by user name"
      description: ""
      operationId: "getUserByName"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "username"
        in: "path"
        description: "The name that needs to be fetched. Use user1 for testing. "
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        400:
          description: "Invalid username supplied"
        404:
          description: "User not found"
    put:
      tags:
      - "user"
      summary: "Updated user"
      description: "This can only be done by the logged in user."
      operationId: "updateUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "username"
        in: "path"
        description: "name that need to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated user object"
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        400:
          description: "Invalid user supplied"
        404:
          description: "User not found"
    delete:
      tags:
      - "user"
      summary: "Delete user"
      description: "This can only be done by the logged in user."
      operationId: "deleteUser"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "username"
        in: "path"
        description: "The name that needs to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid username supplied"
        404:
          description: "User not found"
  /account/{accountId}:
    get:
      tags:
      - "account"
      summary: "Get account by Account ID"
      description: ""
      operationId: "getAccountById"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        description: "The name that needs to be fetched. Use account1 for testing. "
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Account"
        400:
          description: "Invalid accountId supplied"
        404:
          description: "Account not found"
    put:
      tags:
      - "account"
      summary: "Updated Account"
      description: "This can only be done by the owber of the account."
      operationId: "updateAccount"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        description: "account to be updated"
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "Updated account object"
        required: true
        schema:
          $ref: "#/definitions/Account"
      responses:
        400:
          description: "Invalid account ID supplied"
        404:
          description: "Account not found"
    delete:
      tags:
      - "account"
      summary: "Delete account"
      description: "This can only be done by the owner of the account."
      operationId: "deleteAccount"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "accountId"
        in: "path"
        description: "The account that needs to be deleted"
        required: true
        type: "string"
      responses:
        400:
          description: "Invalid accountId supplied"
        404:
          description: "Account not found"          
securityDefinitions:
  chainring_auth:
    type: "oauth2"
    authorizationUrl: "http://chainring.starter.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:trades: "modify trades in your account"
      read:trades: "read your trades"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Account:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      accountId:
        type: "integer"
        format: "int64"
      value:
        type: "integer"
        format: "int32"
      institutionName:
        type: "string"
      accountNumber:
        type: "string"
      routingId:
        type: "string"    
      modifiedDate:
        type: "string"
        format: "date-time"
      status:
        type: "string"
        description: "Account Status"
        enum:
        - "ready"
        - "closed"
        - "executed"
      verified:
        type: "boolean"
        default: false
    xml:
      name: "Account"
  Order:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      tradeId:
        type: "integer"
        format: "int64"
      quantity:
        type: "integer"
        format: "int32"
      executionDate:
        type: "string"
        format: "date-time"
      status:
        type: "string"
        description: "Order Status"
        enum:
        - "placed"
        - "approved"
        - "executed"
      complete:
        type: "boolean"
        default: false
    xml:
      name: "Order"
  Category:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
    xml:
      name: "Category"
  User:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
      phone:
        type: "string"
      userStatus:
        type: "integer"
        format: "int32"
        description: "User Status"
    xml:
      name: "User"
  Tag:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
    xml:
      name: "Tag"
  trade:
    type: "object"
    required:
    - "name"
    - "orderUrls"
    properties:
      id:
        type: "integer"
        format: "int64"
      category:
        $ref: "#/definitions/Category"
      name:
        type: "string"
        example: "doggie"
      orderUrls:
        type: "array"
        xml:
          name: "orderUrl"
          wrapped: true
        items:
          type: "string"
      tags:
        type: "array"
        xml:
          name: "tag"
          wrapped: true
        items:
          $ref: "#/definitions/Tag"
      status:
        type: "string"
        description: "trade status in the order"
        enum:
        - "available"
        - "pending"
        - "closed"
    xml:
      name: "trade"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Starter Ignite"
  url: "http://starter.io"