openapi: 3.0.1
info:
  title: SimpleCMS API
  description: This is the SimpleCMS API
  termsOfService: http://apicloud.co/tos/
  contact:
    email: simplecms@apicloud.co
  license:
    name: AGPL 3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
  version: 1.0.0
externalDocs:
  description: Find out more about Starter Ignite
  url: https://starterinc.github.io/Ignite/
servers:
  - url: https://simpleCMS.apicloud.co/v1
tags:
  - name: admins
    description: Secured Admin-only calls
  - name: users
    description: Operations available to regular users
paths:
  /user/login:
    post:
      tags:
        - user
      summary: Logs user into the system
      operationId: loginUser
      parameters:
        - name: username
          in: query
          description: The user name for login
          required: true
          schema:
            type: string
        - name: password
          in: query
          description: The password for login in clear text
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              description: date in UTC when token expires
              schema:
                type: string
                format: date-time
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
        400:
          description: Invalid username/password supplied
          content: {}
  /user/logout:
    get:
      tags:
        - user
      summary: Logs out current logged in user session
      operationId: logoutUser
      responses:
        default:
          description: successful operation
          content: {}
components:
  schemas:
    Content:
      required:
        - name
      type: object
      properties:
        name:
          type: string
          example: Widget Adapter
        contentData:
          type: string
          example: The full content
        releaseDate:
          type: string
          format: date-time
      xml:
        name: Content
    User:
      required:
        - username
      type: object
      properties:
        id:
          type: integer
          format: int64
        fingerprint:
          type: string
          example: DK$DFSJaraDD
          x-starter-secureField: true
        password:
          type: string
          description: Password field encrypted with hash
          example: anExcellentPassword
          x-starter-secureField: true
        username:
          type: string
          example: Sparky
        homePage:
          type: string
          format: url
          example: https://www.acme-corp.com
        social:
          type: string
          format: url
          example: https://twitter.com/StarterIO
      xml:
        name: User
  securitySchemes:
    automator_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://apicloud.co/oauth/
          scopes:
            write:items: modify items in your account
            read:items: read your items
    api_key:
      type: apiKey
      name: api_key
      in: header
