swagger: '2.0'

info:
  description: This is the SimpleCMS API
  version: 1.0.0
  title: SimpleCMS API
  # put the contact info for your development or API team
  contact:
    email: simplecms@apicloud.co
  license:
    name: AGPL 3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
  termsOfService: http://apicloud.co/tos/

host: simpleCMS.apicloud.co
basePath: /v1

# tags are used for organizing operations
tags:
  - name: admins
    description: Secured Admin-only calls
  - name: users
    description: Operations available to regular users
schemes:
  - https
paths:
  /user/login:
    post:
      tags:
        - "user"
      summary: "Logs user into the system"
      description: ""
      operationId: "loginUser"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
        - name: "username"
          in: "query"
          description: "The user name for login"
          required: true
          type: "string"
        - name: "password"
          in: "query"
          description: "The password for login in clear text"
          required: true
          type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "string"
          headers:
            X-Rate-Limit:
              type: "integer"
              format: "int32"
              description: "calls per hour allowed by the user"
            X-Expires-After:
              type: "string"
              format: "date-time"
              description: "date in UTC when token expires"
        400:
          description: "Invalid username/password supplied"
  /user/logout:
    get:
      tags:
        - "user"
      summary: "Logs out current logged in user session"
      description: ""
      operationId: "logoutUser"
      produces:
        - "application/xml"
        - "application/json"
      parameters: []
      responses:
        default:
          description: "successful operation"
securityDefinitions:
  automator_auth:
    type: "oauth2"
    authorizationUrl: "http://apicloud.co/oauth/"
    flow: "implicit"
    scopes:
      write:items: "modify items in your account"
      read:items: "read your items"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Content:
    type: object
    required:
      - name
    properties:
      name:
        type: string
        example: Widget Adapter
      contentData:
        type: string
        example: The full content
      releaseDate:
        type:  string
        format: "date-time"
    xml:
      name: "Content"
  User:
    required:
      - username
      - email
    properties:
      id:
        type: "integer"
        format: "int64"
      fingerprint:
        type: string
        example: DK$DFSJaraDD
        x-starter-secureField: true
      password:
        description: Password field encrypted with hash
        type: string
        example: anExcellentPassword
        x-starter-secureField: true
      username:
        type: string
        example: Sparky
      homePage:
        type: string
        format: url
        example:  https://www.acme-corp.com
      social:
        type: string
        format: url
        example:  https://twitter.com/StarterIO
    xml:
      name: "User"

externalDocs:
  description: "Find out more about Starter Ignite"
  url: "https://starterinc.github.io/Ignite/"
