swagger: '2.0'
info:
  title: Zoom API
  description: |-
    The Zoom API allows developers to access information from Zoom. You can use this API to build private services or public applications on the [Zoom App Marketplace](http://marketplace.zoom.us). To learn how to get your credentials and create private/public applications, read our [Authorization Guide](https://marketplace.zoom.us/docs/guides/authorization/credentials).
    All endpoints are available via `https` and are located at `api.zoom.us/v2/`.

    For instance you can list all users on an account via `https://api.zoom.us/v2/users/`.
  contact:
    name: Zoom Developers
    url: 'https://developer.zoom.us/'
    email: developersupport@zoom.us
  license:
    name: MIT for OAS 2.0
    url: 'https://opensource.org/licenses/MIT'
  version: 2.0.0
  termsOfService: 'https://zoom.us/docs/en-us/zoom_api_license_and_tou.html'
host: api.zoom.us
basePath: /v2
schemes:
  - https
consumes:
  - application/json
  - multipart/form-data
produces:
  - application/json
  - application/xml
paths:
  '/accounts/{accountId}/phone/setup':
    post:
      responses:
        '201':
          description: |-
            **HTTP Status Codes** `201`<br>
            Created.
        '400':
          description: |-
            **HTTP Response Code:** `400`<br>

            **Error Codes:** `300`<br>
            The extension number {0} that you entered is a reserved number and can not be used. Provide a different number and try again.<br>
            This account is not enrolled in a Zoom Phone plan. Subscribe to a Zoom Phone plan and try again.<br>
            The billing information could not be retrieved at this time. Retry the request again after a few seconds.<br>
            The country code you entered is invalid. Provide a valid country code and try again.<br>
            The state code you entered is invalid. Provide a valid state code and try again.<br>
            The city information you entered is invalid. Provide a valid city name and try again.<br>
            State code is required for this country.<br>
            City is required for this country.<br>
            Zip is required for this country.<br>
        '401':
          description: |-
            **HTTP Status Code:** `401`<br>
            Unauthorized.<br>

            **Error Code:** <br>
            `124` Account does not exist: {accountId}.<br>
      summary: Set up a Zoom Phone account
      operationId: setUpAccount
      tags:
        - Phone
      description: |+
        After assigning a Zoom phone license to an account, an admin or account owner can proceed with the [initial Zoom phone set up](https://support.zoom.us/hc/en-us/articles/360001297663-Getting-started-with-Zoom-Phone-admin-#h_5ae26a3a-290c-4a8d-b3b0-6384ed267b13) using this API.

        **Scope**:<br>
        * `phone:write:admin` `phone:write`

        **Prerequisites**: <br>
        * Pro or a higher paid account with master account option enabled.

        <br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>

      security:
        - OAuth: []
      parameters:
        - in: path
          name: accountId
          type: string
          required: true
          description: Unique identifier of the account.
        - in: body
          name: body
          schema:
            type: object
            properties:
              extension_number:
                type: string
                description: Specify extension number that will be associated with the owner of the account.
                default: '800'
              emergency_address:
                type: object
                required:
                  - country
                  - address_line1
                description: Specify emergency address for the account.
                properties:
                  country:
                    type: string
                    description: 'Specify the two letter [country code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries) (Alpha-2 code in ISO-3166).'
                  address_line1:
                    type: string
                    description: Specify the street address.
                  address_line2:
                    type: string
                    description: 'Specify any building number, floor number, or unit number.'
                  state_code:
                    type: string
                    description: State code of the emergency address. Required or optional dependent on the country and state.
                  city:
                    type: string
                    description: City of the emergency address. Required or optional dependent on different countries.
                  zip:
                    type: string
                    description: Zip code of the emergency address. Required or optional dependent on different countries.
            required:
              - extension_number
              - emergency_address
  /phone/numbers:
    get:
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200` **OK**<br>
            Phone numbers listed successfully.
          schema:
            type: object
            properties:
              next_page_token:
                type: string
                description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.)
              page_size:
                description: The number of records returned within a single API call.
                type: integer
              total_records:
                description: The total number of records returned.
                type: integer
              phone_numbers:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Unique Identifier of the Phone Number.
                    number:
                      type: string
                      description: Phone number in E164 format.
                    display_name:
                      type: string
                      description: The display name for the phone number.
                    source:
                      type: string
                      enum:
                        - internal
                        - external
                      description: Source of phone number.
                    status:
                      type: string
                      description: Status of the number.
                      enum:
                        - pending
                        - available
                    number_type:
                      type: string
                      description: |-
                        The type of number. Values can be one of the following:<br>
                        `toll`, `tollfree`
                      enum:
                        - toll
                        - tollfree
                    capability:
                      type: array
                      description: 'The capability for the phone number, whether it can take incoming calls, make outgoing calls, or both. Values include `incoming`, `outgoing`, or both of these values.'
                      items:
                        type: string
                    location:
                      type: string
                      description: 'Location (city, state and country) where the Phone number is assigned.'
                    assignee:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique Identifier of the user to whom the number has been assigned.
                        name:
                          type: string
                          description: Name of the user to whom the number has been assigned.
                        extension_number:
                          type: integer
                          description: Extension number of the Phone.
                        type:
                          type: string
                          description: |-
                            Indicates who the phone number belongs to.<br>
                            `user`: Number has been assigned to an existing phone user allowing them to receive calls through their extension number or direct phone number.<br> `callQueue`: Phone number has been assigned to a [call queue](https://support.zoom.us/hc/en-us/articles/360021524831-Managing-Call-Queues).<br> `commonAreaPhone`: Phone number has been assigned to a [ provisioned common area desk phone](https://support.zoom.us/hc/en-us/articles/360021119092-Provisioning-Phones-and-Devices).
                            `autoReceptionist`: Phone number has been assigned to an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Integrated-Voice-Response-IVR-).<br>
                          enum:
                            - user
                            - callQueue
                            - autoReceptionist
                            - commonAreaPhone
                    site:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 'Target [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) in which the phone number was assigned. Sites allow you to organize the phone users in your organization. For example, you sites could be created based on different office locations.'
                        name:
                          type: string
                          description: Name of the site where the phone number is assigned.
                    carrier:
                      type: object
                      description: Displayed when the `type` request parameter is `byoc`.
                      properties:
                        code:
                          type: string
                          description: The carrier code.
                        name:
                          type: string
                          description: Name of the carrier to which the phone number is assigned.
                    sip_group:
                      type: object
                      description: Displayed when the `type` request parameter is `byoc`.
                      properties:
                        id:
                          type: string
                          description: 'The ID of the SIP group. See the **Creating SIP groups** section in [Creating a shared directory of external contacts](https://support.zoom.us/hc/en-us/articles/360037050092-Creating-a-shared-directory-of-external-contacts) for details.'
                        name:
                          type: string
                          description: Name of the SIP group for which the phone number is assigned.
          examples:
            application/json:
              next_page_token: ''
              page_size: 30
              total_records: 2
              phone_numbers:
                - id: execvbfgbgr
                  number: '0000111100'
                  display_name: abc
                  source: internal
                  status: pending
                  number_type: tollfree
                  capability:
                    - incoming
                    - outgoing
                  location: 'Milpitas,California,United States'
                  assignee:
                    id: cgfdgfghghim
                    name: Peter Jenner
                    extension_number: 12
                    type: user
                  site:
                    id: sdfsdfgrg
                    name: SF office
                - id: fdgfdgfdh
                  number: '111111111'
                  source: external
                  status: available
                  number_type: toll
                  location: 'San Jose,California,United States'
                  assignee:
                    id: dfgdfghdfhgh
                    name: Receptionist
                    extension_number: 1
                    type: autoReceptionist
                  site:
                    id: jhdfsdghfdg
                    name: San Jose office
      summary: List phone numbers
      description: |-
        A Zoom account owner or admin can purchase phone numbers and assign them to Zoom phone users. Use this API to list all Zoom Phone numbers in a Zoom account. You can filter the response based on your needs by using query parameters.

        **Prerequisites:**<br>
        * Pro or higher plan with Zoom phone license<br>
        **Scope:** `phone:read:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: listAccountPhoneNumbers
      tags:
        - Phone
      security:
        - OAuth: []
      parameters:
        - $ref: '#/parameters/NextPageToken'
        - in: query
          name: type
          type: string
          description: |-
            Query response by number assignment. The value can be one of the following:
            <br>
            `assigned`: The number has been assigned to either a user, a call queue, an auto-receptionist or a common area phone in an account. <br>`unassigned`: The number is not assigned to anyone.<br>
            `all`: Include both assigned and unassigned numbers in the response.<br>
            `byoc`: Include Bring Your Own Carrier (BYOC) numbers only in the response.
          enum:
            - assigned
            - unassigned
            - all
        - in: query
          name: extension_type
          type: string
          description: |-
            The type of assignee to whom the number is assigned. The value can be one of the following:<br>
            `user`<br> `callQueue`<br> `autoReceptionist`<br>
            `commonAreaPhone`
          enum:
            - user
            - callQueue
            - autoReceptionist
            - commonAreaPhone
        - in: query
          name: page_size
          type: integer
          default: 30
          description: The number of records returned within a single API call.
          maximum: 100
        - in: query
          name: number_type
          type: string
          description: The type of phone number. The value can be either `toll` or `tollfree`.
          enum:
            - toll
            - tollfree
        - in: query
          name: pending_numbers
          type: boolean
          description: Include or exclude pending numbers in the response. The value can be either `true` or `false`.
        - in: query
          name: site_id
          type: string
          description: 'Unique identifier of the site. Use this query parameter if you have [enabled multiple sites](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15) and would like to filter the response of this API call by a specific phone [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites).'
  /sip_phones:
    get:
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`<br>
            SIP Phones listed successfully.

            **Error Code:** `200`<br>
            Permission missing: Enable SIP Phone Integration by contacting a Zoom Admin first.
          schema:
            type: object
            properties:
              page_count:
                type: integer
                description: The number of pages returned for the request made.
              page_number:
                type: integer
                description: The page number of the current results.
              page_size:
                type: integer
                description: The number of records returned within a single API call.
              total_records:
                type: integer
                description: The total number of all the records available across pages.
              phones:
                type: array
                description: SIP phones object.
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Unique Identifier of the SIP Phone.
                    user_email:
                      type: string
                      format: email
                      description: 'The email address of the user to associate with the SIP Phone. Can add [.win, .mac, .android, .ipad, .iphone, .linux, .pc, .mobile, .pad] at the end of the email (ex. user@test.com.mac) to add accounts for different platforms for the same user.'
                    domain:
                      type: string
                      description: |
                        The name or IP address of your provider’s SIP domain. (example: CDC.WEB).
                    register_server:
                      type: string
                      description: 'IP address of the server that accepts REGISTER requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address.'
                    transport_protocol:
                      type: string
                      description: 'Protocols supported by the SIP provider.<br> The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.'
                      enum:
                        - UDP
                        - TCP
                        - TLS
                        - AUTO
                    proxy_server:
                      type: string
                      description: 'IP address of the proxy server for SIP requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address. If you are not using a proxy server, this value can be the same as the Register Server, or empty.'
                    register_server2:
                      type: string
                      description: 'IP address of the server that accepts REGISTER requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address.'
                    transport_protocol2:
                      type: string
                      description: 'Protocols supported by the SIP provider.<br> The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.'
                      enum:
                        - UDP
                        - TCP
                        - TLS
                        - AUTO
                    proxy_server2:
                      type: string
                      description: 'IP address of the proxy server for SIP requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address. If you are not using a proxy server, this value can be the same as the Register Server, or empty.'
                    register_server3:
                      type: string
                      description: 'IP address of the server that accepts REGISTER requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address.'
                    transport_protocol3:
                      type: string
                      description: 'Protocols supported by the SIP provider.<br> The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.'
                      enum:
                        - UDP
                        - TCP
                        - TLS
                        - AUTO
                    proxy_server3:
                      type: string
                      description: 'IP address of the proxy server for SIP requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address. If you are not using a proxy server, this value can be the same as the Register Server, or empty.'
                    registration_expire_time:
                      type: integer
                      description: 'The number of minutes after which the SIP registration of the Zoom client user will expire, and the client will auto register to the SIP server. '
                    user_name:
                      type: string
                      description: 'The phone number associated with the user in the SIP account. '
                    password:
                      type: string
                      description: |
                        The password generated for the user in the SIP account.
                    authorization_name:
                      type: string
                      description: Authorization name of the user  registered for SIP Phone.
                    voice_mail:
                      type: string
                      description: The number to dial for checking voicemail.
              next_page_token:
                type: string
          examples:
            application/json:
              page_count: 1
              page_number: 1
              page_size: 1
              total_records: 1
              phones:
                - id: '123456'
                  user_email: CfRE2opiq3HokO@someemailtype.com
                  domain: CDC.WEB
                  register_server: 192.168.0.100
                  transport_protocol: UDP
                  proxy_server: 192.168.0.10
                  register_server2: 192.168.0.100
                  transport_protocol2: UDP
                  proxy_server2: 192.168.0.10
                  register_server3: 192.168.0.100
                  transport_protocol3: UDP
                  proxy_server3: 192.168.0.10
                  registration_expire_time: 60
                  user_name: '1008'
                  password: apassword1
                  authorization_name: testname
                  voice_mail: '4000'
        '400':
          description: |+
            **HTTP Status Code:** `400`<br> Bad Request

      summary: List SIP phones
      description: |
        Zoom’s Phone System Integration (PSI), also referred as SIP phones, enables an organization to leverage the Zoom client to complete a softphone registration to supported premise based PBX system. End users will have the ability to have softphone functionality within a single client while maintaining a comparable interface to Zoom Phone. Use this API to list SIP phones on an account.<br><br>
        **Prerequisites**:
        * Currently only supported on Cisco and Avaya PBX systems.
        * User must enable SIP Phone Integration by contacting the [Sales](https://zoom.us/contactsales) team.<br> **Scope:** `sip_phone:read:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`<br>
      operationId: listSipPhones
      tags:
        - SIP Phone
      security:
        - OAuth: []
      parameters:
        - $ref: '#/parameters/PageNumber'
        - in: query
          name: search_key
          type: string
          description: 'User name or email address of a user. If this parameter is provided, only the SIP phone system integration enabled for that specific user will be returned. Otherwise, all SIP phones on an account will be returned.'
        - in: query
          name: page_size
          type: integer
          description: The number of records returned within a single API call.
        - in: query
          name: next_page_token
          type: string
          description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
    post:
      responses:
        '201':
          description: |
            **HTTP Status Code:** `201`<br>
            SIP Phone Created.
        '400':
          description: |+
            **HTTP Status Code:** `400`<br>
            Bad request.<br>
            **Error Code:** `200`<br> Permission missing: Enable SIP Phone Integration by contacting a Zoom Admin first.<br>
            **Error Code:** `300`<br>SIP Phone with the same email already exists.


        '404':
          description: |+
            **HTTP Status Code:** `404`<br>
            **Error Code:** `1001`<br> User {userId} not exist or not belong to this account.


      summary: Enable SIP phone
      description: |+
        Zoom’s Phone System Integration (PSI), also referred as SIP phones, enables an organization to leverage the Zoom client to complete a softphone registration to supported premise based PBX system. End users will have the ability to have softphone functionality within a single client while maintaining a comparable interface to Zoom Phone. Use this API to enable a user to use SIP phone.<br><br>
        **Prerequisites**:
        * Currently only supported on Cisco and Avaya PBX systems.
        * The account owner or account admin must first enable SIP Phone Integration by contacting the [Sales](https://zoom.us/contactsales) team.<br> **Scope:** `sip_phone:write:admin`
        <br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

      operationId: createSIPPhone
      tags:
        - SIP Phone
      security:
        - OAuth: []
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              domain:
                type: string
                maxLength: 64
                description: 'The name or IP address of your provider’s SIP domain. (example: CDC.WEB).'
              register_server:
                type: string
                description: 'IP address of the server that accepts REGISTER requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address.'
              transport_protocol:
                type: string
                description: 'Protocols supported by the SIP provider.<br> The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.'
                enum:
                  - UDP
                  - TCP
                  - TLS
                  - AUTO
              proxy_server:
                type: string
                description: 'IP address of the proxy server for SIP requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address. If you are not using a proxy server, this value can be the same as the Register Server.'
              register_server2:
                type: string
                description: 'IP address of the server that accepts REGISTER requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address.'
              transport_protocol2:
                type: string
                description: 'Protocols supported by the SIP provider.<br> The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.'
                enum:
                  - UDP
                  - TCP
                  - TLS
                  - AUTO
              proxy_server2:
                type: string
                description: 'IP address of the proxy server for SIP requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address. If you are not using a proxy server, this value can be the same as the Register Server, or empty.'
              register_server3:
                type: string
                description: 'IP address of the server that accepts REGISTER requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address.'
              transport_protocol3:
                type: string
                description: 'Protocols supported by the SIP provider.<br> The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.'
                enum:
                  - UDP
                  - TCP
                  - TLS
                  - AUTO
              proxy_server3:
                type: string
                description: 'IP address of the proxy server for SIP requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address. If you are not using a proxy server, this value can be the same as the Register Server, or empty.'
              registration_expire_time:
                type: integer
                minimum: 1
                maximum: 127
                default: 60
                description: 'The number of minutes after which the SIP registration of the Zoom client user will expire, and the client will auto register to the SIP server.'
              user_name:
                type: string
                maxLength: 64
                description: The phone number associated with the user in the SIP account.
              password:
                type: string
                description: The password generated for the user in the SIP account.
              authorization_name:
                type: string
                maxLength: 64
                description: Authorization name of the user  registered for SIP Phone.
              user_email:
                type: string
                description: 'The email address of the user to associate with the SIP Phone. Can add [.win, .mac, .android, .ipad, .iphone, .linux, .pc, .mobile, .pad] at the end of the email (ex. user@test.com.mac) to add accounts for different platforms for the same user.'
                format: email
                maxLength: 64
              voice_mail:
                type: string
                maxLength: 255
                description: The number to dial for checking voicemail.
            required:
              - domain
              - register_server
              - proxy_server
              - user_name
              - password
              - authorization_name
              - user_email
              - voice_mail
          x-examples:
            application/json:
              user_email: CfRE2opiq3HokO@someemailtype.com
              domain: CDC.WEB
              register_server: 192.168.0.100
              transport_protocol: UDP
              proxy_server: 192.168.0.10
              registration_expire_time: 60
              user_name: '1008'
              password: apassword1
              authorization_name: testname
              voice_mail: '4000'
  '/sip_phones/{phoneId}':
    patch:
      responses:
        '200':
          description: |
            **Error Code:** `200`<br>
            Permission missing: Enable SIP Phone Integration by contacting a Zoom Admin first.
        '204':
          description: |
            **HTTP Status Code:** `204`<br>
            SIP Phone information updated successfully.
          schema:
            type: object
            properties: {}
        '300':
          description: |
            **Error Code:** `300`<br>
             SIP phone not found: phoneId.<br>
             The SIP phone with this phoneId was not found on this account.
        '400':
          description: |+
            **HTTP Status Code:** `400`<br>
            Bad request.

      summary: Update SIP phone
      description: |-
        Zoom’s Phone System Integration (PSI), also referred as SIP phones, enables an organization to leverage the Zoom client to complete a softphone registration to supported premise based PBX system. End users will have the ability to have softphone functionality within a single client while maintaining a comparable interface to Zoom Phone. Use this API to update information of a specific SIP Phone on a Zoom account.<br><br>
        **Prerequisites**:
        * Currently only supported on Cisco and Avaya PBX systems.
        * The account owner or account admin must first enable SIP Phone Integration by contacting the [Sales](https://zoom.us/contactsales) team.<br> **Scope:** `sip_phone:write:admin`
        <br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
      tags:
        - SIP Phone
      operationId: updateSIPPhone
      security:
        - OAuth: []
      parameters:
        - in: path
          name: phoneId
          type: string
          required: true
          description: Unique Identifier of the SIP Phone. This can be retrieved from the List SIP Phones API.
        - in: body
          name: body
          schema:
            type: object
            properties:
              domain:
                type: string
                maxLength: 64
                description: 'The name or IP address of your provider’s SIP domain. (example: CDC.WEB).'
              register_server:
                type: string
                description: 'IP address of the server that accepts REGISTER requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address.'
              transport_protocol:
                type: string
                description: 'Protocols supported by the SIP provider.<br> The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.'
                enum:
                  - UDP
                  - TCP
                  - TLS
                  - AUTO
              proxy_server:
                type: string
                description: 'IP address of the proxy server for SIP requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address. If you are not using a proxy server, this value can be the same as the Register Server.'
              register_server2:
                type: string
                description: 'IP address of the server that accepts REGISTER requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address.'
              transport_protocol2:
                type: string
                description: 'Protocols supported by the SIP provider.<br> The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.'
                enum:
                  - UDP
                  - TCP
                  - TLS
                  - AUTO
              proxy_server2:
                type: string
                description: 'IP address of the proxy server for SIP requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address. If you are not using a proxy server, this value can be the same as the Register Server.'
              register_server3:
                type: string
                description: 'IP address of the server that accepts REGISTER requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address.'
              transport_protocol3:
                type: string
                description: 'Protocols supported by the SIP provider.<br> The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.'
                enum:
                  - UDP
                  - TCP
                  - TLS
                  - AUTO
              proxy_server3:
                type: string
                description: 'IP address of the proxy server for SIP requests. Note that if you are using the UDP transport protocol, the default port is 5060. If you are using UDP with a different port number, that port number must be included with the IP address. If you are not using a proxy server, this value can be the same as the Register Server.'
              registration_expire_time:
                type: integer
                minimum: 1
                maximum: 127
                default: 60
                description: 'The number of minutes after which the SIP registration of the Zoom client user will expire, and the client will auto register to the SIP server.'
              user_name:
                type: string
                maxLength: 64
                description: The phone number associated with the user in the SIP account.
              password:
                type: string
                description: The password generated for the user in the SIP account.
              authorization_name:
                type: string
                maxLength: 64
                description: Authorization name of the user  registered for SIP Phone.
              voice_mail:
                type: string
                maxLength: 255
                description: The number to dial for checking voicemail.
            required:
              - domain
              - register_server
              - proxy_server
              - register_server2
              - proxy_server2
              - register_server3
              - proxy_server3
              - user_name
              - password
              - authorization_name
              - voice_mail
          x-examples:
            application/json:
              domain: CDC.WEB
              register_server: 192.168.0.100
              transport_protocol: UDP
              proxy_server: 192.168.0.10
              registration_expire_time: 60
              user_name: '1008'
              password: apassword1
              authorization_name: testname
              voice_mail: '4000'
    parameters:
      - name: phoneId
        in: path
        type: string
        required: true
    delete:
      responses:
        '200':
          description: '**Error Code:** `200`<br>Permission missing: Enable SIP Phone Integration by contacting a Zoom Admin first.'
        '204':
          description: |-
            **HTTP Status Code:** `204`<br>
            SIP Phone deleted.
          schema:
            type: object
            properties: {}
        '300':
          description: '**Error Code:** `300`The SIP phone with this phoneId was not found on this account.'
      summary: Delete SIP phone
      description: |-
        Zoom’s Phone System Integration (PSI), also referred as SIP phones, enables an organization to leverage the Zoom client to complete a softphone registration to supported premise based PBX system. End users will have the ability to have softphone functionality within a single client while maintaining a comparable interface to Zoom Phone. Use this API to delete a specific SIP phone on a Zoom account.<br><br>
        **Prerequisites**:
        * Currently only supported on Cisco and Avaya PBX systems.
        * User must enable SIP Phone Integration by contacting the [Sales](https://zoom.us/contactsales) team.<br> **Scope:** `sip_phone:read:admin`
        <br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
      operationId: deleteSIPPhone
      tags:
        - SIP Phone
      security:
        - OAuth: []
      parameters:
        - in: path
          name: phoneId
          type: string
          required: true
          description: Unique Identifier of the SIP Phone. It can be retrieved from the List SIP Phones API.
  /rooms:
    get:
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`<br>
            A list of Zoom Rooms returned successfully.
          schema:
            type: object
            properties:
              page_size:
                type: integer
                description: The number of records returned within a single API call.
              next_page_token:
                type: string
                description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
              rooms:
                type: array
                description: List of existing Zoom Rooms.
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Unique Identifier for the Zoom Room.
                    name:
                      type: string
                      description: Name of the Zoom Room.
                    activation_code:
                      type: string
                      description: Activation Code is the code that is used to complete the setup of the Zoom Room.
                    status:
                      type: string
                      description: Status of the Zoom Room.
                      enum:
                        - Offline
                        - Available
                        - InMeeting
                        - UnderConstruction
                    room_id:
                      type: string
                      description: Globally unique identifier of the Zoom Room. Use this ID for the **Dashboard Zoom Room APIs**.
                    location_id:
                      type: string
                      description: 'Unique Identifier of the [location](https://marketplace.zoom.us/docs/api-reference/zoom-api/rooms-location/listzrlocations) of the room.'
          examples:
            application/json:
              page_size: 30
              rooms:
                - id: 387434ryewr334
                  name: testZoomRooms
                  activation_code: '1200'
                  status: Available
                - id: 4ryewr33sjfkds
                  name: MyZoomRooms
                  activation_code: eu34355empor
                  status: Offline
      tags:
        - Rooms
      summary: List Zoom Rooms
      description: |-
        Zoom Rooms is a software-based room system that provides an integrated experience for audio conferencing, wireless screen sharing and video conferencing. Use this API to list all the existing [Zoom Rooms](https://support.zoom.us/hc/en-us/articles/207483343-Getting-Started-with-Zoom-Rooms) in a Zoom account.<br><br>
        **Prerequisites:**<br>
        * Pro or a higher plan with [Zoom Room](https://zoom.us/zoomrooms) license.<br>
        **Scopes**: `room:read:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: listZoomRooms
      security:
        - OAuth: []
      parameters:
        - in: query
          name: status
          type: string
          description: The status of the Zoom Room.
          enum:
            - Offline
            - Available
            - InMeeting
            - UnderConstruction
        - in: query
          name: type
          type: string
          description: Type of the Zoom Rooms.
          enum:
            - ZoomRoom
            - SchedulingDisplayOnly
            - DigitalSignageOnly
        - in: query
          name: unassigned_rooms
          type: boolean
          default: false
          description: Use this query parameter with a value of `true` if you would like to see Zoom Rooms in your account that have not been assigned to anyone yet.
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
        - in: query
          name: location_id
          type: string
          description: Parent location ID of the Zoom Room.
    post:
      responses:
        '201':
          description: |-
            **HTTP Status Code:** `201` **Created**<br>
            Zoom Room added successfully.
          schema:
            type: object
            properties:
              id:
                type: string
                description: Unique Identifier of the Zoom Room.
              name:
                type: string
                description: Name of the Zoom Room.
              type:
                type: string
                description: Type of the Zoom Room.
                enum:
                  - ZoomRoom
                  - SchedulingDisplayOnly
                  - DigitalSignageOnly
              location_id:
                type: string
                description: Location ID of the location where the Zoom Room was added.
              room_id:
                type: string
                description: Globally unique identifier of the Zoom Room. Use this ID for the **Dashboard Zoom Room APIs**.
          examples:
            application/json:
              id: abcdefgg
              name: Cool ZoomRoom
              type: SchedulingDisplayOnly
              location_id: 434gfg0is
              room_id: dhsfd8287rgf
        '400':
          description: |+
            **HTTP Status Code:** `400` **Bad Request**<br><br>
            **Error Code:** `200`<br> Zoom Room subscription not found. Try again after purchasing a Zoom Room subscription.<br>
            At least one normal Zoom Rooms required.<br><br>
            **Error Code:** `300`<br>
            Invalid parent location id {location_id}.<br>

        '404':
          description: |-
            **HTTP Status Code:** `404` **Not Found**<br><br>

            **Error Code:** `4801`<br>
            Location not found:{location_id}
      summary: Add a Zoom Room
      description: |-
        Use this API to [add a Zoom Room](https://support.zoom.us/hc/en-us/articles/202822279-Add-Zoom-Rooms-on-Web-Portal) to a Zoom account.<br><br>
        **Prerequisites:**<br>
        * Pro or a higher plan with [Zoom Room](https://zoom.us/zoomrooms) license.<br>
        **Scopes**: `room:write:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: addARoom
      tags:
        - Rooms
      security:
        - OAuth: []
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: Name of the Zoom Room.
              type:
                type: string
                description: 'Type of the Zoom Room. '
                enum:
                  - ZoomRoom
                  - SchedulingDisplayOnly
                  - DigitalSignageOnly
              location_id:
                type: string
                description: |-
                  **Optional**<br>Location ID of the lowest level location in the [location hierarchy](https://support.zoom.us/hc/en-us/articles/115000342983-Zoom-Rooms-Location-Hierarchy) where the Zoom Room is to be added. For instance if the structure of the location hierarchy is set up as “country, states, city, campus, building, floor”, a room can only be added under the floor level location.

                  This ID can be retrieved from the [List Zoom Room Locations](https://marketplace.zoom.us/docs/api-reference/zoom-api/rooms-location/listzrlocations) API.
            required:
              - name
              - type
          x-examples:
            application/json:
              name: Cool ZoomRoom
              type: SchedulingDisplayOnly
              location_id: 434gfg0is
  /phone/sites:
    post:
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204` **No Content**<br>
            Site created successfully.
          schema:
            type: object
            properties:
              id:
                type: string
                description: 'Site ID: Unique Identifier for a site.'
              name:
                type: string
                description: Name of the site.
          examples:
            application/json:
              id: ingjgjfhi
              name: San Jose Site
        '400':
          description: |-
            **HTTP Status Code:** `400` **Bad Request**<br>
            **Error Code:** `400`<br>
            Invalid site code length.<br>
            Country information is invalid.<br>
            This address could not be validated / geocoded.
      summary: Create a phone site
      description: |+
        Sites allow you to organize Zoom Phone users in your organization. Use this API to create a [Site](https://support.zoom.us/hc/en-us/articles/360020809672).<br>
        **Prerequisites:**<br>
        * Multiple Sites must be [enabled](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15).
        * Pro or a higher account with Zoom Phone enabled.
        **Scope:** `phone:write:admin`<br>

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

      operationId: createPhoneSite
      tags:
        - Phone Site
      security:
        - OAuth: []
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: Name of the Site.
                minLength: 1
                maxLength: 255
              site_code:
                type: integer
                description: |+
                  Identifier for a site. If site code is enabled, this field is required.

              auto_receptionist_name:
                type: string
                description: 'Display name of the [auto-receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Integrated-Voice-Response-IVR-) for the site.'
              default_emergency_address:
                type: object
                properties:
                  country:
                    type: string
                    description: 'Two lettered country code (Aplha-2 code in ISO-3166) standard of the Site''s [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).'
                    minLength: 2
                    maxLength: 2
                  address_line1:
                    type: string
                    description: 'Address Line 1 of the  [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address) consisting of house number and street name.'
                  address_line2:
                    type: string
                    description: 'Address Line 2 of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address) consisting of Building number, floor number, unit, etc.'
                  city:
                    type: string
                    description: 'City of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).'
                  zip:
                    type: string
                    description: 'Zip Code of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).'
                  state_code:
                    type: string
                    description: 'State Code of the [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).'
                required:
                  - country
                  - address_line1
                  - city
                  - zip
                  - state_code
              short_extension:
                type: object
                description: Short extension of the phone site.
                properties:
                  length:
                    type: integer
                    default: 3
                    description: |-
                      Specify the length of short extension numbers for the site.

                      Since there is a default 6-digit limit on extensions, the short extension can be 2 to 5 digits and the length of site code added to the length of short extension can not exceed a value of `6` (i.e., length of `site_code`+ length of `short_extension` should always be less than or equal to 6).
            required:
              - name
              - auto_receptionist_name
          x-examples:
            application/json:
              name: San Jose Site
              site_code: 123
              auto_receptionist_name: Benjamin
              default_emergency_address:
                country: US
                address_line1: 100 Awesome St
                city: San Jose
                zip: '95113'
                state_code: CA
                address_line2: Unit 5
    get:
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              next_page_token:
                type: string
                description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
              page_size:
                type: string
                description: The number of records returned within a single API call.
              total_records:
                type: string
                description: Total number of records returned.
              sites:
                type: array
                description: List of site(s).
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Site ID. Unique Identifier of the site.
                    name:
                      type: string
                      description: Name of the Site.
                    site_code:
                      type: string
                      description: Site Code
                    main_auto_receptionist:
                      type: object
                      description: Auto Receptionist for each site.
                      properties:
                        id:
                          type: string
                          description: 'Identifier of the [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-).'
                        extension_id:
                          type: string
                          description: Extension ID
                        extension_number:
                          type: string
                          description: Extension number
                        name:
                          type: string
                          description: Name of the auto receptionist.
                    country:
                      type: object
                      description: Site country
                      properties:
                        name:
                          type: string
                          description: Name of the country.
                        code:
                          type: string
                          description: 'Two lettered country [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).'
          examples:
            application/json:
              page_count: 1
              page_number: 1
              page_size: 30
              total_records: 2
              sites:
                - id: CESAfgkwporiw3WA
                  name: Main Site
                  site_code: 10
                  country:
                    name: Canada
                    code: CA
                  main_auto_receptionist:
                    id: NMyfgfgfhdghsVg
                    extension_id: E6Khfhfhf4idr8A
                    extension_number: 10801
                    name: Main Auto Receptionist
                - id: fwfhfghbghghfgcuw
                  name: SAC office
                  site_code: 12
                  main_auto_receptionist:
                    id: t1s55343ggfg3wwg
                    extension_id: V7AIhaaaaaaaaRyTw
                    extension_number: 12001
                    name: SAC Office Auto Receptionist
      summary: List phone sites
      description: |-
        Sites allow you to organize Zoom Phone users in your organization. Use this API to list all the [sites](https://support.zoom.us/hc/en-us/articles/360020809672) that have been created for an account.<br>
        **Prerequisites:**<br>
        * Multiple Sites must be [enabled](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15).
        * Pro or a higher account with Zoom Phone enabled.

        **Scope:** `phone:read:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: listPhoneSites
      tags:
        - Phone Site
      parameters:
        - $ref: '#/parameters/PageSize'
        - $ref: '#/parameters/NextPageToken'
  '/phone/sites/{siteId}':
    get:
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`<br>
            Site information retrieved successfully.
          schema:
            type: object
            properties:
              id:
                type: string
                description: Site ID. Unique Identifier of the site.
              name:
                type: string
                description: Name of the Site.
              site_code:
                type: integer
                description: '[Site Code](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_79ca9c8f-c97b-4486-aa59-d0d9d31a525b)'
              country:
                type: object
                description: Site country
                properties:
                  name:
                    type: string
                    description: Name of the country.
                  code:
                    type: string
                    description: 'Two lettered country [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).'
              main_auto_receptionist:
                type: object
                description: '[Main Auto Receptionist](https://support.zoom.us/hc/en-us/articles/360021121312#h_bc7ff1d5-0e6c-40cd-b889-62010cb98c57) for each site.'
                properties:
                  id:
                    type: string
                    description: Unique Identifier for the Auto Receptionist.
                  extension_id:
                    type: string
                    description: Extension ID
                  extension_number:
                    type: integer
                    description: Extension number
                  name:
                    type: string
                    description: Name of the auto receptionist.
              short_extension:
                type: object
                description: Short extension of the phone site.
                properties:
                  length:
                    type: integer
                    default: 3
                    description: The length of short extension number for the site.
          examples:
            application/json:
              id: CEfghfghhWA
              name: Main Site
              site_code: 10
              main_auto_receptionist:
                id: NMyfgfhghhsVg
                extension_id: E6Khfghgfr8A
                extension_number: 10801
                name: Main Auto Receptionist
        '400':
          description: |-
            **Error Code:** `400`<br>
            Site does not exist.
      summary: Get phone site details
      description: |+
        Sites allow you to organize Zoom Phone users in your organization. Use this API to get information about a specific [site](https://support.zoom.us/hc/en-us/articles/360020809672).


        **Prerequisites:** <br>
        * Account must have a Pro or a higher plan with Zoom Phone license.
        * Multiple Sites must be [enabled](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15).<br>
        **Scope:** `phone:read:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

      operationId: getASite
      parameters:
        - in: path
          name: siteId
          type: string
          required: true
          description: Unique Identifier of the Site.
      tags:
        - Phone Site
      security:
        - OAuth: []
    parameters:
      - name: siteId
        in: path
        type: string
        required: true
    delete:
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204`<br>
            Phone Site deleted.
          schema: {}
        '400':
          description: |-
            **HTTP Status Code:** `400` **Bad Request**<br><br>
            **Error Code:** `400`<br>
            Unable to transfer to the same site.<br>
            Main company number can not change {phoneNumber}.<br>
            Site does not exist.
        '409':
          description: |-
            **HTTP Status Code:** `409` **Conflict**<br><br>
            **Error Code:** `409`<br>
            Conflict target extension number, try later.
      summary: Delete a phone site
      description: |+
        Sites allow you to organize Zoom Phone users in your organization. Use this API to delete a specific [site](https://support.zoom.us/hc/en-us/articles/360020809672) in a Zoom account. To delete a site, in the query parameter, you must provide the Site ID of another site where the assets of current site (users, numbers and phones) can be transferred to.  You cannot use this API to delete the main site.

        **Prerequisites:** <br>
        * Account must have a Pro or a higher plan with Zoom Phone license.
        * [Multiple Sites](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites) must be enabled.<br>
        **Scope:** `phone:write:admin`
        <br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

      operationId: deletePhoneSite
      tags:
        - Phone Site
      security:
        - OAuth: []
      parameters:
        - in: path
          name: siteId
          type: string
          required: true
          description: Unique Identifier of the Site.
        - in: query
          name: transfer_site_id
          type: string
          required: true
          description: 'The Site ID of another site where the assets of the current site (users, numbers and phones) can be transferred to.'
    patch:
      responses:
        '204':
          description: |-
            **HTTP Status Code:** `204` **No Content**<br>
            Site details updated successfully.
          schema: {}
        '400':
          description: |-

            **HTTP Status Code:** `400` **Bad Request**<br><br>
            **Error Code:** `300`<br>
            Validation Failed. Site does not exist.<br><br>
            **Error Code:** `400`<br>
            Site Code is disabled.<br>
            Invalid site code length.
      summary: Update phone site details
      description: |+
        Sites allow you to organize Zoom Phone users in your organization. Use this API to update information about a specific [site](https://support.zoom.us/hc/en-us/articles/360020809672).


        **Prerequisites:** <br>
        * Account must have a Pro or a higher plan with Zoom Phone license.
        * **Scope:** `phone:write:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

      operationId: updateSiteDetails
      tags:
        - Phone Site
      security:
        - OAuth: []
      parameters:
        - in: path
          name: siteId
          type: string
          required: true
          description: Unique Identifier of the Site.
        - in: body
          name: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: Name of the site.
              site_code:
                description: '[Site Code](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_79ca9c8f-c97b-4486-aa59-d0d9d31a525b).'
                type: integer
          x-examples:
            application/json:
              name: SJ-site
              site_code: 47973154
  /phone/sms/messages:
    post:
      responses:
        '201':
          description: |-
            **HTTP Status Code:** `201` <br>
            SMS sent successfully.
          schema:
            type: object
            properties:
              message_id:
                type: string
                description: |
                  Message ID.
              session_id:
                type: string
                description: Session ID.
              date_time:
                type: string
                description: Message creation time in UTC (Coordinated Universal Time).
          examples:
            application/json:
              session_id: ebc731c7c5c6c6b9ad2cd301330a0415
              message_id: 8e77d889-baba-43d1-b80c-77c90c135cde
              date_time: '2021-04-01T22:03:30Z'
        '400':
          description: |-
            **HTTP Status Code:** `400` <br>

            **Error Code:** `7020`<br>
            Extension does not exist
        '401':
          description: |-
            **HTTP Status Code:** `401` <br>

            **Error Code:** `124`<br>
            Account does not exist: {accountId}.
        '404':
          description: |-
            **HTTP Status Code:** `404` <br>

            **Error Code:** `1001`<br>
            User does not exist: {userId}.
      summary: Post SMS message
      description: |-
        Send [SMS messages ](https://support.zoom.us/hc/en-us/articles/360054631031-Setting-up-SMS) to Zoom Phone accounts.

        **Scope:**
        * `phone_sms:write`
        * `phone_sms:write:admin`

        **Prerequisites:**
        * Zoom Phone license
        * SMS enabled for the account or admin privileges
        * User-enabled Zoom Phone

        **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

        **SMS and Attachments - Size and Limits:**
        * SMS size with no media attachments: 2048 bytes
        * SMS size with attachments: 1000 bytes
        * Total attachments: 10
        * Total attachments file size: 2MB
      operationId: postSmsMessage
      tags:
        - Phone
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              sender:
                type: object
                properties:
                  id:
                    type: string
                    description: |
                      Sender's unique user ID.
                  phone_number:
                    type: string
                    description: Sender's phone number.
                required:
                  - id
                  - phone_number
              to_members:
                type: array
                description: List of recipients.
                items:
                  type: object
                  properties:
                    phone_number:
                      type: string
                      description: Recipient's phone number.
              message:
                type: string
                description: |
                  The SMS message.
              session_id:
                type: string
                description: |
                  Unique ID for the SMS session between sender and recipient.
              attachments:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: 'Format of attachments. Supported formats: JPG, PNG, JPEG, GIF.'
                      example: 'JPG, PNG, JPEG, GIF'
                    base64_encoding:
                      type: string
                      description: 'ASCII string to send [Base64 encoded](https://en.wikipedia.org/wiki/Base64) attachments as text.'
            required:
              - to_members
          x-examples:
            application/json:
              to_members:
                - phone_number: 01234567890
                - phone_number: 07234567899
                - phone_number: 045103337895
              sender:
                id: sdfw35sdfd
                phone_number: 014085552324
              message: This is an example SMS message.
              session_id: ebc731c7c5c6c6b9ad2cd301330a0415
              attachments:
                - type: JPG
                  base64_encoding: ut culpa do
                - type: PNG
                  base64_encoding: /9j/4AAQSkZJRgABAgEAYABgAAD//gASTEVBRFRPT0xTIHYyMC4wAP/bAIQABQUFCAUIDAcHDAwJCQkMDQwMDAwNDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQEFCAgKBwoMBwcMDQwKDA0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0N/8QBogAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoLAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgsQAAIBAwMCBAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEVUtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk5ebn6Onq8fLz9PX29/j5+hEAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/8AAEQgBfQGdAwERAAIRAQMRAf/aAAwDAQACEQMRAD8A+y6ACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAOlACZpXAM0CFpjCgAoATNABmgBaACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoASgA6UgEJphsN3YqbPoTzIiaVV6kD8apRk9kzJ1IR3kiFr6FOGdR/wICtFSm9oszdemvtIj/tO2/56p/30P8AGr9jP+Vk/Waa+0iQajbnpIn5il7Ka6Mr6xT/AJkSLMj8hgfoazcJR6MtVYvZolBzWdn1NrroyQGnsNC0DFzTAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgBCaAIywFG+iJbsZd7q9tYjM0irjtkZrohQnVdoo46mIhT1ucfe+OlX5bWPef7zHav6ZP6V7EMtnvI8KrmlnaBzdz4rv7jK7hGP9kfyNepTy+Efi3PKnmFSW2xhT389wf3jufxNenHDU49F9yPOliJz6lbe3qfzNaqjBbJGDqT7sNxp+yh2RHPPuxMn1P5ml7KPZfcHtJ92SxXEkRyjMCP8AaP8AjWTw9N7xRoq9SG0ma9v4hvrc/LIzD0bmuOeBpy2O6GPqxOhs/HE0ZAnjDL3IPP5YxXlVMuf2D16OZSXxs66x8UWd6AA4Rj/C3BryKmDqQ6HuU8bTqddTokkVxkcj1rgd46NHoxkpLRkgouma2HZoELQMKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKAGMcCgW25jalrNvpibpmAPYdSfwrrpUJVXaKOGtiYUup5tqvjK4uspb/uk6Z6k19JQy5RXNM+Wr5g5O0Wcg8rSnc5JPvXvRpRjsjw51JT3Y0NjpxWtrGFl1YDiiwrroGcVQwzQAlMYtK4gzSIt1DOKLDsJ0GKWw1EAcdOKhxjLRoqLcNYs3NO8Q3enEeWxde6tyPwrzK2ChUWisz06ONnT6npGkeLLe/xHIfKk9G4/I18xXwU6WqWh9Rh8fGWkzrEfPPUV5NnHc91NSXMmSD1pjHZpDFpgFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAMJxQIieUIMnj9KSvJ2SJk1DVnAa94xW3zBaYd+hbsv/wBevew2ClNpyVkfO4zGqmml+B5lPcyXLb5WLt6k19dSoRpK0VqfITrSqO8noQ5rpt2OayWoZo1KHZoF6hmlYNAzTsMN1ABmgYZpWEJkU7CFyKQCZFMYZoElYShoYuSDwcVDipK0kUm4vRnX6J4tl04iGfMsfqeSo+vcCvnsVgFNc1NWPewuPdN8tQ9YstQiv4xLAwZT6dvrXydWm6OjR9jSrRqq8di8G5rPomdCeth+aChaACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACkA09aLgQSyrEC7EADkk9qaTm+WO5nOUaa5pnkniTxU94xt7Q7YwcFh/F24PpX12DwKjac0fH4zGNtxps4XPrX08YKGiPl5OUpc0ncXNUU7PUTNMQuaADNABmgQZosMKADOKADNABRYAyadgDNIAzRYAzQAnNDFezCs7X0Y+bmd7amvpOsz6PJuh5Qn5l7Ed8e9eZiMJGvF3Wp6OHxU6ErN6HtelavDqsQkhOT3HcfWvh69CVB8rTstj7qhiY1lpa5sBs1zI7n5DxSKFpgFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAhoAglcIMngDrQld2XUzlJRV30PIfFXiZrtzaWxxEvDEfxH29q+uwOCUbTmtT5DG43mvCLOEHFfUKKSsj5i7d2xc1ZIZpjDNAgzQMM0AGaADNABmgAzQAZoAM0CDNABmkAZpgGaBhmgYZpWBWWwhpNdGQ79DU0nV5dImEsZwvG5exHevLxWFVaL720PRw2KdBq+x7ppepRalCs8RyD29DXwNejKjLlP0DDVo1oc1zWU5rGx1rUfQMKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKAAnFAETN2o8geiueceNPEP2dfsdu2JH+8R2Hp9a+gwGE9o+eWx8xj8V7NOMdzyYnmvtox5VZK1j4uXvPmvuLWiAWqAM0AGaQWCmAdKADNAWDNABmgQZoAM0DDNILBmgLBQIM0BYM0DDNMQUDDOKQIaaWw209zpPDWuPpM4Vv9Q5AYeme+PrXhY7CqpF1FuezgsQ6UlFv3T3aCdZkDpypAIPrmvhJJxbT0sfewkppNFnNQaDqYBQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFADGNAGDruqppNs8zHDAYX3Y9K7MPRdaaSWnU8/EV1Sg+nY+fbm5e7laaTlnO4mv0ejRjSilHsfnVSrKpNuW1yEGurfcz0WwuaVgDNMQZoAXNACZoAM0BsGaAuGaADNFg2DNABmgLhmiwwzRYQZosAZosAZosAZoAMmkAZNMewlMWnUQnFZ8qmmpIi75k47I9W8Da75i/YJT8y5MZP93PT8K+IzLC8n7yCPs8Bib2ptnp6mvm9tD6r0JBTAWgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAQ0AQs2KS10Jb5UeI+OdY+13X2dOUh4PoWx/TpX22WYflXPJHxOY17y5Ys4ctjpX1B89NaKwu6qELuxQAm+gTQbqLDuhd1AXE3UrMLhuoswuG6izEG6hIdw3VVguJvpWC4bqewtA3YpXKsugbqCQ3U7DHBqVgELUxhupWAN1O1hBuxU3FYA1CHYMjrTtYWxasbp7GZLhDgo35juK4K9JVIOLR20KnspqR9F6beJe26XCch1B/xr80rQdKbg+5+i0ZqpBSRqqayOkdQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUANY4oE9NTA17UBptpLOTyqnaPU9hXVhqXtakUu5wYufsoN+R86STGdzI3JY5P481+n0aapQUUfnlWftZt9hmcV0WOdO+gZosPYcqs5CoNxJ4AGSfasJzVNXZUIubtE6OPwfqkqhliAB55YA/lXkSzCina+p6sMFVl0JP+EM1Uf8ALEf99CkszorqU8vq9g/4QzVf+eQ/76FP+06JP9nVf5WH/CF6r/zy/wDHhR/aVDuH9nVf5WH/AAheqf8APH/x4Uf2lQ7h/Z1X+Vif8IXqv/PL/wAeFH9pUe4f2fV/lYf8IXqv/PLH/AhR/aVHuH9n1f5WL/wheq/88h/30KX9pUe4v7Pq/wArE/4QvVP+eI/76FP+06PcP7Prfyh/whuqDrEP++hT/tKj3E8vrLoULrw7f2YzJC+B3UFh+YHFaQzClN8qZlLBVY6tGIcqcNwR2PBr1YSjNXi7nJKLhpJWFzWhiLmgLhup2GG6gAX5zhRk+grGc40lzS0LjCVT4UWbixuLNVadCivypIxmueliIVnywZrKhKmryKoNd2xz2sBNSIUHPFD0Qz1f4fap5qNZseU+Zfoeo/z618LmtDkl7RLQ+zy6tzJU2eqJXzB9MtCSmMKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKAGtSewep5N8RdR2COzX+IF2+g/8Ar19RlNHmfOz5fNK1lyrseT5r7xI+LWmqDNUNK2obqkPU6DwuA2pQg9N3f6GvGzDSk2ux6uBsqiR9HAAdK/NG9dT9DikloPxQVYXFAWExQFgxQFgwKYWDFArABQOwuKQWGkUBZDCgIwRxRrunYhpPRo4jxJ4Qg1NGlgAjnAyMcAn3r2sJjp0ZKMnoePicFGpFuKPDZ4ntpWhkGHQ4I9COtfodKpGrFTifD1IOnPkeiIu9dBin0YY54qXoD02Llhp9xqcnlW6mRv0HufauKviIUFeTsdVHDTqvY9k8O+C4dNxNcYkmHP8Asqfb1r4XFZhOs+RaI+zw2BjTV2ZfxHUJFDgY5P8AKu7KW/aO5wZnBQiuU8kzzX3SXc+Re4uaAEzUy2Y7G94a1AadfRyZ+UsEYezcfzxXjZhS9rRuetgqns5I+j4yCAR3r82atddmffwd4pkwpmgUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUgIGam9dED2Z89+NLsXepuM5EeF+mOo/Ov0TK6XJSv3R8Bj5c02jkxX0KVjxrWHUyQoDodF4U/5CUP8Avf0NeJmP8F+h6uC/io+jwK/MmfoaJBTKCmAUAFABQAUAFABQAUANxSFYayigXkeK/EPTFtZlu4xjzeGx6joa+0yms5XpvofH5nQSXMtzzbI7ck9a+tvy6tnzUYuastzr9A8H3GsESSgxQf3iMFh7Cvn8VmMaScIas9rDYBytKSuj23StGt9KjEcCgY6nufqa+IrYidd3m9D7Glh40krKxr4xXJ5nZtseWfEviKD/AHj/ACr6nJ/4jPmM0+FHj4IzX3x8c9x2RRYkShjQqNsIZeoII+tZVIqUHF9n+RVKThJep9M6Ldi6s4ZAesa5/AAGvynEQ9nUlDzZ+l4efPTXobSmuU7B1ABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUABpAU532Izf3QTVwV5JeZnN8sW/I+W9RuPtNzLKP43Y/ma/V8JHkpRXkfmtefPUk/UqA4rvsco7NFiBC1JoDo/CZ/wCJnB/vf0NeNmP8BnrYH+Kj6UFfmLP0NDxQUFABQAUAFABQAUAFABQAUgENKwHmPxMAFih/6aCvpMrfLVfofO5mrxKXhXwTCY0vLv8AeF1DKg+6MjIPvWmMx8nJwhpZtGGDwa5VJnqkUKxLtUAKOgFfMScnLmkz6WMFTVkSgY6UdTQU0gPKviaf3UH+8f5V9Xk/8RnzOafCjxzvX3x8ewpki5oBBmptdWJ21PevANx9o0xR/wA82K/rX5nmUOSuz7/L5c1Ox3YrxD2uhJTGFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAGkBj6q/l2szDtG38jXTQV6kV5o5MQ+WnJ+R8sngnHqa/W6StGKXZH5tJXcvUK6CErBmiwNATSaJsdH4SP/E0g/wB7+hrxcy/gSPVwStVR9Livy9n6Ch4oLFoAKACgAoAKACgAoAKACgBDQB5h8TzjTk/66Cvfy1fvJejPAzH4UvM7Pw+M6fbn/pjH/wCgCvJxC/eSXm/zPSwytSjbyNsCuU7eouKAENAHk/xO4ig/3j/KvrMm/iSPmM0+FHjZbmvv7HyD/QN1Owg3UbDQZqbE26Hs/wANHzaSIOz5/Ovz7OEvaXPs8rfu2PU06V8qj6UkFUAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFAAaQHPa4T9iuMf8APJ/5GurDfxY+qOPE/wAOXofL9fr0Nl6H5w9JP1ErYgWgBKTBnSeEf+QpB/vf0NeLmX8CR6WC/iI+mhX5az9BiPFBYtABQAUAFABQAUAFABQAUAIaAPMPigcacn/XRf619Blf8SXo/wAmfP5j8MfU7Tw7/wAg62/64x/+gLXk4j+LL1f5nqYb+FH5G4K5TsCgBppAeT/FH/VQf7x/lX1mTfxJHzGafCjxev0Dt6HyHUKoA6UgQlHUR7H8MM+VP/vL/Wvz3OfjPsMr2PXEr5TofUElMQUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFACGkBh6yu6zmA6mN//QTXVh9KkX5o5cR/Dl6HywTgke5r9dpaxT8kfms9JP1DNbkBupgGaQ2dJ4RP/E0g/wB7+hrxcy/gSPSwX8VH02K/LGfoMSQUGgtAgoAKACgAoAKACgAoAKAENAHl3xS409M/89V/rXv5X/Elbs/yZ8/mOkY+p2vhz/kHW2P+eMf/AKAK8rEfxZer/M9PDfwom7XKdoUANpAeS/FI4ig/3j/Kvrcl/iSPmszXuo8WzX6Dbb0Pj3uLmnYkM0WGhM0rC2PaPhguLaZj3cf1r87zl/vLH2WWL3eY9YTtXy3kfSvQloAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgANAGddqHhkTuysP0Na03yzi/NGNaPNTkvI+S7iNoJGjbqrMD+Br9fw+tKL8kfmlVcs2vMZmuqxkGadhBmlYbOl8HnOqQf739DXiZn/Akelgv4qPp4Gvyxn6EtFqSCkULTAKACgAoAKACgAoAKACgBDSA8s+Khxpyf8AXUf1r6LKVerJeR4OYr3UdF4R1e2vrGGOFxvijRWXIyCFA6de1cOMoTpVHJp2bb/E6cHVi6ajfU64NXl6bHqvfyHZo8gA0AeRfFP/AFVv/vH+VfXZL/EkfN5n8KPFM81+hW29D457jt1OxImaTKQual6Ine57z8NYfL00u3BkkY/gDgV+Y5tK9azPuMtjakelLxXz577JaYBQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAIRQBWkHJ96Fun2ZMldNHzB4rtPsWpzRY4Ztw+jc1+q5dU9pRiux+eY2nyVdNjms17yPP2DNMkMmpt2Ga2hXgsr6GYnAVxnPocj+teVj4c1CR2YaXJOMvM+rYZFkUOvIIBH41+RyTjNxZ+i05c6TLKmoXX1NR1UAUAFABQAUAFABQAUAFADTSA8t+KeBp8f/AF1Wvpsn/jHz+ZfCjxGyvp9PlE1uxRx0x0x7jpX31fDQxCtNI+Sp1pUHpse0+GfiDFe4tr8rDL0DZ4Y/0zXwuMyqVL95S1XY+qw2YKWkj1GNw43KQQe4r5VqztNNNH0Ckpq8WS0lqXseRfFTiKD/AHj/ACr7DJF+8kfN5n8KPEs1+iLp6Hxz3CmSLnFKw9hAc8VlO0U32TNIxu1Y+nvCtqLLTYI8YJQMf+Bc/wBa/IcdN1azl52P0LB0+SmjrFGK887x9MYUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFAAaAIZOOlAmeDfE/TzDdRXaj5ZE2sfcdP0r7rJKt06bZ8hmcLO9jy3OK+5R8yOzVCDNIBOlZTippwlsXF8tvI948BeLEvYVsblgs8IAUk/eXp+fFfm2ZYF0qjqwWlz7LBYtNKDfQ9TVhXy2zfQ+hTW6H5qvmMXNAgzRcYZpXATNFw+QuadwDNFwDNFxBRcYhNK4jyv4qH/iXx/8AXVa+oyX+MfP5l8KXY8EzzxX6ZY+LvbcXAJz0+lQ4X0BNxd4neeG/HVzo7CC4Jmt/T+JfofSvl8dlcav7ymvePdw+OcNJM940nWbbV4hNbOHBxkA8j2I7V+f1qEqDtJM+uo141Vo0ecfFU4ht/wDeP8jX0+SfxGeHmnwI8RJr9FR8e+jFBqgDOTip2A0dJtHv7yK3UZ3Ouf8Adzz+leVjKns6Un5HVhYupJJdz6vt4REqxjoqhR9AAP6V+STlzNvzZ+jU1yQikXgMVBsOoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAjccVLdtQOF8c6Z/aOmyFRukhBkUe69R+Ir2MsrPD1Ytv4meXjqSqQb7I+aeF49K/XKb5oqXc/P2uWTix2a0IDNFgEJpWEOjlaFgyEoy9CDgg/WsalKNVcskmbU5ypO6PRdI+JV7YKI7hRcKMc/db8+9fJV8ljUfNTdj3qeYuOkjq1+LNoBloZc+wX+pryXklVP3Wjs/tRLcd/wtqy/wCeE35L/wDFUf2HW7of9qw7B/wtqy/54Tfkv/xVH9h1u6D+1Ydg/wCFtWX/ADwm/Jf/AIqj+xK3dD/tSHYP+FtWX/PCb8l/+Ko/sSt3RP8AasOwf8LZsv8AnhN+S/8AxVH9iVu6D+1Y9g/4WzZf88JvyX/4qj+xK3dB/asOwf8AC2bL/nhN+S//ABVH9iVu6H/asOwf8Lasv+eE35L/APFUf2JW7oX9qw7B/wALasunkTfkv/xVS8kq9Wh/2pHojhvF/jQeIkSGNDHGp3c9T+HIr6DL8tlhZczep5eJxvt1Y4QHFfV+R4IuabRVhDU2ewOxp6ZrF1o0gntnKYxkfwn2Iry8RgqdeLTSud1HETodTd8S+Ln8RxRJJHsMfJOeCfauHAZf9UnKV99Tevi/bxszkM19GeUtgzTATNTYOh6f8MtL8+6kvHGRENqn1Y+n0FfD5ziHH9zF7n0uWUdeZo98jFfBLY+zWisWKYgoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAQ0gKM0atlT0YYP41pD3WpLoRKPNFo+XPFukNo2oSRbSI2O5D6qfT6HIr9UyzEKtSSb1R+fYyk6VRya0ZzQPfpXvrseb5i5FVYQZosAZpWsMM560W7EMOOlLlHYOBTsKwZFOw+UTIpWCwZFOwWFyKVgsGRRYLBkUWHZBkUWFYTIp2Cwuc0rW1QWEoSCwuaZQmaZNhSc8VNitxPapStsFkGaq1hBnFJ6AKgaRwiDJPAHck9BWNSapQlOXRG0I80rH1D4S0caPYRwkYkYBnPufU/pX5Fjq7r1G/PQ++wdL2cDsUGK8w9MkoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKAA0AQOueam/QNjzrx/4f/tezM8QzPANy+pA+8v5ZxX0GWYr6vVUJPRnjY3DqvByS2PnAk52n5ccHPXIr9WhJSSktmfBWs3F9AzithLsGaYbC5osAZoAM0WGJmiwg3UWGGaBBmmAuaQBmgBM4osMM0AGcUCDNAxc0WEGaVgEzTAM0DFzRYQZoAQnjio7t9AelkejfD3w+dQuxeTD9zByM/xP2/Lk18Zm2M5YulB6n0eAw/O1Jn0VEmOK/Od7tn2nKoqyLYpgFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUANK8UWAqyRjoemOacdPe6pkSWjj3PnD4geGW0i6N5CP8AR5zk4HCN3/Bjk1+jZTjVVSpSeqPiswwrpPngtzzrOa+yTfU8FLqGatDYucUyQzQAUAGaYBSAM0wDNKwBmiwBmgAzTGLmgBKBBQAZosAZosAZoAN1KwBmgBD7VDlyhsaWk6bJq1zHawjLORz2Uf3j7DH515uLxCw1Jyl1Wh3UaLqyWh9U6FpEWi2iWkX8I5Pqx5J/PpX5HiKzrTc2z7vD0vZRSsdCiba4jtJKYwoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAidc0mBj6np0OpQNbTruRxjH9RXRRqyw8lODOWrTVVOLPlrxJ4fm8OXJgkGUz+7fsw/lnHWv1fAY2OJprmfvHw2LoOg2jnQeM170e/Q8oXNWMM0DDNAhc0wEzQMXNAgzSASgYZxQIXdRYYuaLCEzQAmaYwzQIM0AGaAFzSAM1L0Ha+xJBE1zIIYwXdyAqjqSen5d/SuStVhSi5S6I1pwdR2ifSXgjwougW4lmGbmXljj7oP8ACPT3r8rzHGyxM3Ti/dWx9xgsP7ON5I9DiTHNeAlbc9gsimMKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgBCKAIZIwfwqWLbU5vXtBg123a2nA5+62OVPqD/TvXfhsTLCSUkzkxGHjXj7258xeIPD9z4dnMM4yhPyPjAYdvYHHav1bBY6GKgkn73Y+DxOGlTlotDA3V7VmcSSgrdRRxVom1haYgoGHSgQmaLAGaLAFOwwzRYAzQAtIQmaBi5p2ATNIkWgoSgBM1Ivh0JIInunEUYLMxwABySfp0/GuSvWjh4uU9i6cJSkkup9D+CPBC6MovLwBrpuQCBiP2Hv6mvzHMcxeJbhT0jsfb4TB+ySnJbnqEcfOTXy+z8z21poWQMVRY+gAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgBCKQEEkWenai12Iw9X0WDWYTbXShlPfuD2IPbFddDETw81KnokctWiqqsz5w8U+Crvw+5eNWmtiTiQLkqOwbHI4PWv0vAZnGuuWbtI+OxeDlTl7q0OIBxx+VfVRaaujxJe6+QTdVJ30QcrWouaqwgzTsIM0FATRYABoAM0AGaAFzSAM0AJmmAZxQABsVLCz6CF8Urpbi66mnpWk3WsSiG1QuSRkgZCg92PQCvKxWKp4ZOUmkzso0JVZbH0Z4U8D2/h9BLJ+9uT1Y9F9gK/M8ZmM8S3G/un2OHwkadnJanoMcXc8V8+n5HtW6LYshcUnqFhQMUbDFpgFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFAAaAIXUGi4FK4tllQpINynqCMg+taQk6fvRfvdDOcFUVmjyDxN8MI7otcaWRFIeTGc7D9PSvq8FnEqVoV9T53EZeneUFqeK6jpd5pMpiu42jxwCRwfoehFfoWHxdLExTg0mfL1KVSi/eWhmg+lelc5thd2KewboM0ydgzTAM0AGaAFzSATNABnFABv9KLBcQmjbcVmiREaVgkYLMeiqMk/QVx1K0KXvSasdEac52UUz0zw38NLrUSs2oZtojzt/jbPbuBXx+NzmEPdo6s9zD4Cc9ZHu+kaJa6NGILOMIo6nGScdyTya+BrYmpiHeo2/I+rpYeFDSxvJHjrXDa51bEyjFXsA+gYUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAJigBCoPWlbsBBJFj7tVdddwWhkX+lW+ooYrqNZFP94dPp7+9dNGtUou8JtHPUowrfEjyrW/hPb3BMmnSGFsfcb5h+B7frX1WGzydJ8tb3l3PCrZbFq8Dy/VPBOraSCXhaVB/FH8/wCYHI/Kvq6Oa4evrKXL5Hz1TBVaeyZzDRSQfLIpQ9wQQfyr2416U1+7kn8zjdKcfiRBmutPQxvYeDTJugzTKTW1xM0h6dw3YpBbsOUFvugmsXUjHdpFKDeyNWw8PahqThbeCVs9ypCf99HA/WvNq5jRor3pq50UsNOb2sekaP8ACe5mw9/IIh1KLhmPtnPH15r5XEZ7FXjQ1PepZc38R61o3hHTtEUC3iBkH8bfM31BP9K+Qr46rXvzS07Hv0sLCl0OsWM/hXmX69TvWmkdCdUC9KgPUkAqgFoAKBhQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAUAFACE4pBsFABTAKACgAoAM0AGcVIC1QBQAUANzU3AKoBpUUbEkDQgUtCl7vUiMWOOoqlO210Q48z2Rk3ehWV+CJ4Y2z6r/hiuuGKqw+CTRhOhTlukctd/DbRLnIERiPrGxH8ya9OGa4ql9q5wSy+lLpYw5PhDprf6uSVfqc/zrvjn1dbo5nltPoVj8ILTPEz/lXR/b9XsT/ZUHsx6/CCwzl5pT7dKiWfVuyB5VBWs/yNS3+Fejw4LiSTH95jg/hXBPOa9TZ2v2OiOW04nU2PhPSdOH+j20YPqQT/ADzXmzxtaespv7zvhhKUOiOhitxEMIoUDsAAP0rgc3P4m38zqVKEfhSLAjz1rPlS+EfwkqoBRaw7kg4oQxaADNFwDNMAzQAZoAM4oFsGaADNAxM0gFzQAZpiDNAxaACgAoAKACgAoAKACgAoAKACgAoAQ0bAcN418TTeGYEnhjEoZtpycY/Q17GBwixknBu1jyMbiXhY8yR5wPi5dYz9nT/vo/4V9NHIk95NHzyzdtXSF/4W7df8+6f99n/Cq/sGP87+7/gjWbya2F/4W7dD/l3T/vs//E0f2DH+d/d/wR/2s+wh+Lt1/wA+6f8AfZ/+Jo/sFfzv7v8Agh/a0uwf8Lduv+fdP++z/hR/YC/mf3f8EP7Wl2D/AIW7df8APun/AH2f8KP7BX8z+4X9rvsWLX4uN5gFzAAh7o2SPzArmq5FKMXKDvYpZyuZReh7BpOrQavbrc27bkYfkR1B9xXyFalLDycJqzR9XQrRrxU4mr0rmOgiklWIEuQoHUngU4pzfKlqTKSguaWxwWr/ABF0zS2KKxndc8R4I/E5Ar3KGV1q+0bHiV8xp0dFqcZP8X3JPk23H+03+ANe5HIpfalqeQ86T0ihkfxelB/eWwI/2W5/UVcsgdtJAs5t0Ot0r4m6bqBCTbrdz/fAx+ea8StlFalrHU9OjmdOrpLQ9ChuI7lRJEwdSOCDkV4MoypPkktT3YzjNXg9CwAKz3NUraiGNTTT6Iob5Qp36C07CGJRRbqBnahqFrpaGW5dY1HqRzXRTozrPlpo5KlaFBXkzzbUPinYW5K2sbzEd+FH619DRyWtOzlomeBVzaEL2Ofb4uzA/JbKB7t/gK9VZArayPPedLorl+0+LyE4uLcgdyhB/Q4rnqZDOP8ACdzennMX8SPQNG8aabrJCwybXP8AA4w34c189WwFfD/HHQ96jjqdfqkderA15NrM9NNPYdR6FbGPrmonSrKW7UbjCjNg8A4BOK6aFP201T7nLXq+wg5tbHmumfFq1nIW7iaHPdcMP6GvoquS1IR5qeulz5+jm0akuWVlrY9AbxLp4tvtnnJ5WM5z+mPX2rwlg6zl7JRd9tj2XjKUVfmX3nAal8W7S3YpaRPLj+I4UGvoKGSVan8R29DxK2bwpuyRij4vTKcm3XHs3P8AKvS/sBbKbOV50lqonSaV8VLC9YR3Kvbse5wV/PP9K8ivk1ejdw95I7qGbU6tlLQ9LtbuK7QSQMHRhkEHNfNzhKk+WasfQQqRqLmgySWdIELyMFUdSeMVMYym+Wnq+xbmo/G7HnOsfE3T9OJjg3XDDj5cbc/XNfR4fKK9bWS5UeFiMyhRfKtTkn+L0wOUtxjtlv8AAV7KyDTWVjzHnFtkX7L4uxuwFzAVHqhBx+BxXLVyKpFXg7mlPOIt2kj0vRvEllrab7WQMe6nhh9RXzFbC1cO7VItLufQUsXTrfCzoA1cR6I+gAoAKACgAoAKACgAoAKACgAoAQ0gOX8WaGNfsHthw/3kPow5H516ODxDw1WM+nU87F0fb07HyvqGl3GlytDcIyspx0OD7g4wRX6zQxlPEJOLS09D8yrYapRk0r2uUdn1rv54/wAy+9GHs5bO4bSPWnzx7r7w9lLzDafel7WK6r7w9lLu/uAIfepdWPeP3oPYyW9/uF2465rVO+1jNpx0G4Hek3bQzcbe91R618KNSaK6ksiTskUuozwCMZwPevhM9oxSU4q3c+xyevKpePRHt2q6rDpEDXFwwVVHfufQe5r4mjQlWkoQV7n2NevHDw5pdj5u8T+NrvX3KIxhtgeEB6jnBb6+lfpWByunhoqdRc0mfnmJzCpW92LsrnE7fWvpYpQXuqx4knJvV3Ewc4FHMurRVpPRIU/J1o549GiZRlFbCfe9v6U2k1rqOLurvRnUeHvFd34ekBjYvCD80ZPB+nofpXgY3LqeIjeKtLuethcZPDyvJ3j2PpXQNft9ft1uIDz/ABL3U9wa/MsThZ4WThL7z9Cw2JjiVzL7joM1wbHobATQwt1exwXi/wAZxeHY/LT95cODtUHp7t7e3evdwOAljGpNWijw8Zjo4dNLfofOOqavdaxKZrt2kOeOeBn0Hav0zDYKlhoJKKv3PgK+KnWk5X0M0/SvRvbdWOFycugDPYf1/lS54fzL70XGMraQ/AAecYpqUZbWFaUd4jlLIwZDgjoRxiplShNNTVwVScWnB2PWPB3xClsnWz1Fi8RwFkPVT0+b1HvXw+Y5UrOrRXe6PrsFmLTVObPfoZlmUOhBVhkEdOa+BlFxvB6NH20ZKSUkznPGXOkXP/XF/wD0E16OA0rU15o83H6UZHyTjA9K/Zop2SWisflcnZu2movONoJK9dueP8Kn2cL7K/oPmnb4mHua0uodkSrvpcOe44qeeD+0n8xuEnvF29A2jHFVvoloEbR2TudV4Y8V3PhyYFGLwH70ZPH4ehrwsdlsMVHRWl3PWwuNnh5Xb07F/wAWeNLjxA+yImK2HRAeT7tiufL8qp4TWouaR0YvMZYnSDscMfl619Fyr0PCb5vid2AJPQfhT547cy+9Byy7MKpST+EnWOrRZs7ybT5RPbu0bqcgg4/zmuWvhoYiPLNI66NeVJ88XofR/gnxiviCPyZ8Lcxjkf3h6j+tfl+YYB4OTcV7rPvsDjliFyyep6Kpr58+hH0wCgAoAKACgAoAKACgAoAKACgBrCltsFr6MpXGn291/ro0k/3lB/mK2hVnT0hJr5nNKjCWkkin/YGn/wDPvF/3wv8AhW31mqvty+9mX1WktFFfcL/YNh/z7xf9+1/wpfWqv88vvZX1Wl/KvuGnQtP/AOfeH/vhf8KHiqsfty+9iWGpfyI5XxRcaT4ety7QQmVh8ihFyT+XSvTwkcRippKUuW/dnl4uVChFqyvY+b7y5N5M0pAXcScKMAe2BX6rQp+xgovVn5xXmqsm46IZFE8ziKMFnc4AHUn2oqVI04uc3axVCEqj9mj6I8DeD10CL7Zc/wDHy685/gU84H9a/Mcyxzxc/Zw+FaH3+AwawcXVlp1PMPH3iV9ZvDbxn/R4WwoH8RHU/wCFfU5Tg1Rp+0mveex8/mWMdSXJF6HBYJOAM54/GvqW1Ti5Sex8yuabUEj1Twx8NJNQVbm/JijOCEH3mHv6fzr4rG5z7NuFDXuz67C5VKaVSpseu2Pg/S7JQEgjJHdlDH8zmvj6mPrzd3J28nY+rjgaUEo8quS3fhPS7tdslvHz3CgH8xilHG14aqcvvKlgqT+yjy3xL8MfKVrjTGPyjPlHn/vk/wCNfT4LOXFqnX1T6nzWNyrTmonjzxtE5jkBVlOCDxgj1r72nUjVipQ1TR8c4Spy5J6WOk8JeIJPD98soJ8pyFkXsQTjP1HrXiZhgo4mk5RXvK56uX4x0anLJ6XPqq2nW5jWWM5VwGB9iM1+UTi4ScH03P06nNVI862MnxDrCaHZvdP1Awo9WPQfnXXhsO8VUjCPfX0OXE1vYUpSb6aHyfqF5LqUz3MzEvIxJz+gHsPSv1/DUI4eKglsj8oxNeVeTd+o/TdMn1SZba2Uu7cfQep9BTxOJhhoOcna3Q1w9CWItyfM9y0H4Y2tqoe+PnydSvRR7e/41+d4rOalRtU3ZdD7nD5ZTik5LU7uPw1psK7Ut4gP9xf8K8F4urLXna+Z7P1SnFWSRj6l4D0vUFIESxMejINuPwGBXZSzKtSa95tHLVwFOotEkeJeKPBNz4ePmrmW3J4cDlf94f1r7rAZnDE2hJ2kfGYzL50HzQWhw+DmvqHaStoz528ou6dmj2/4Z+J2k/4ldweQMxEnt3X9eK/Oc4wDpfv4LR9j7vKcX7RclRnovi//AJBNyP8Api//AKCa+dwH8enfuj38bpSaXY+TMV+zw2XoflU2rt+bLVpaSXsyW8I3PIwVR7/561y168cPBzkaUacq8lCOzdj6A8O/DmzsED3oE8x5IYfKPbH+NfmuLzapVk4U3ZH32FyyFOKlPc7Gbw1p0yeW1vFj2RR/SvIji60HzKb+89aWEpyXIor7jyTxh8PFs42vNNyVHLRdcD1HfivrMuzdtqnWfzPmcbljinKmeQbccenWv0CM1Jcy2aPjLcrcXugxt6Un8LfYlOzsup6f4L8BHWFF5ekrB/CvdvXPTAr4vMc2dJ+yo79T6zAZb7Ve0qHtNt4V0y1TYlvFgeqAn8yM18TLGVpvm5n8mfWxwdKCtZM5zXvh7YanGTAgt5ezIMDPuBxj9a9HC5nWoS953j2ZwYrLoVYtQVmfPWraXNo1w1rOMMn6jsQff9K/ScLiVi6amuvQ/P8AEUJ4VuLWgukahJpN1HdxHBRsntkdCD7YqcZQjWpSTV9NC8LWdKaadldH1zpd8uoW0dwnSRA35jp+dfj1am6c3F9D9VoVFVgmuppisjq2CgAoAKACgAoAKACgAoAKACgApAJilYAxTsAw0iTm/EXiGDw/bmaY/OR8idyfp6e9ehhcLLFTUEtDzsXiY4eDk3qfMOs6tca1cm4uDktnaOyj0H+ea/VsJhIYWCSXqfmWJxUq8t9DNSMuwRBljwAOp+ld85xpRc29EcNOMqkvZwVz33wJ4JXTlF9eLmdvuKf4Af61+b5lmMq8nSpv3UfomX4CEIqpNe8dN421M6VpkrqdrsNi/Vv/AK2a8nAUvb149k9T0MfV9lRklpofLTE9W6n+f/16/X4xUVbsflc5czuz0/4c+G11K4N5cDMUH3Qehf8AwAz+NfHZvjHS/dU37z3Prcrwiq/vZn0KqBRgDAHSvzy7ep99GPLHljoh+2lYthtxTsTYaVpW0utLBb7L2PEPiZ4ZWMDVIBjkCUD9D/ia+4ybGvm9hN+h8TmmD054LueMEZ/D0r9A3R8PHT5M+kPhtqhvtNELnLW5K/hzj9K/Ks3w/sK3NHaWp+m5XW9rS5X0OM+KuqtJPFYr92MFmHucAflg17eSUEr1u55OcV2kqa2PI9ucAd+P6V9w5csXJ9D4qCu7Lqz6X8CeGk0ezWZx+/mAZj6ZH3R9O9fk+ZYyWJquCfuo/TcuwkaNJSaV2egAV4Wx9CLik1cWgYoWgaFO7tI7uJopRuRhgg1pCcqUlKnujKrTjVi4SPlbxVobaDfvbj/Vk5jP+yTwPw71+s5fiViKC197qflOPoPDVWre62ZWm3badcx3KdUYH8utdmLpKrScWuhjhqjoTvE+l/EU4utCmmXo8DH81NfluFh7PFKD6SP0XET5sKqi3a/Q+WgK/YI6RXofl0lq/O56v8KtOS5uZbpxkxABfYnqf5V8TndVwiqS6n1uS0lJub6Hv+2vz9dT79pW0F24qUraFPsMkjDqVYZB/rVpuLTiZyV4uMux8neLNPXTtTnhj4XfuA9Ackj86/XMtqyrUIt9D8rx9JUar5erMWxt/tM8cPQSOq/mQK78VN0qcpLsziw8VUqKL7n2DYWq2sEcScKiqOPpX4xVk6k5Sb6n63RgqcIpbWLoGKxt5nSlYMUrD63PIvippSParfKBvjYKT6q3/wCqvsMlruNX2fRrY+RzejH2bn1PBMV+lWutep+ec1rJH0v8Nrhp9JQN/AWX8Aa/JM0goV5JaH6flcualE9DHFeCj6IWmAUAFABQAUAFABQAUAFABQAUAFADScUAYWua5b6HbtPOQMD5R3Y+grsw2HniJKEF13ODEYiGHjzSdj5f13XbjX7k3E5+Xoqjoq9h9fWv1TBYOGEhotT8xxeLni6jX2TFCljtHXPH9AK9NzUE5PY8uEPaS5I7nuPgLwQIAuo36/vODGh/h9z71+dZnmLqSdKk7LZn3uWZeqa9tUWp7Gq4+lfI369T7NWSskeSfFmUpawoOjSZ/IH/ABr63JI81VvsfJ5zLlppI8FYZx6V+lP3U2j86WrVz6h8AWa2ukxEdXBY/iTX5BmVRzxEux+rZdFRoRsjuBXjo9wWgAoAaRSEznvE9qt1p08bcgxn9Oa78FN068JLucGLipUpJ9j5JxjIHav2WDvGLZ+PTVpSS7nsHwmmKTTxdioP5V8Rnsfhkfa5JJ+9F9DjvHMxm1ifP8DbR+Fe1lMFHDwl3R42ZVHKs4S2MXQbcXV/BE3RpF/IGu/GycKNRr+U4MAr1kntzH15GBGAo4AHFfjTk5NuXdn69FKPLBdicUjYWmAUARscUuqSIeh4r8WrVdlvcAfNuKH6HH/16+2yCb5pQ6HxeeQSSktzxUA199LWNu9z4eLcZX9D6FimM/hNmPa2Yf8Ajpr8ylHkx9l/N+p+hqTlg7+X6HzyOtfp0dl6H5zJ+++12e2/CMfLcf7y/wAq+Bz1+9E+8yNWjL1PbK+JPtgoAaaQnsfLvj7/AJDEv4fyr9Uyhf7Oj8wzP+Mzn9F/4/bf/rsn/oQr1MbpRn/hf5HmYLWsr9z6+h+6PoK/GZfEz9ep6RS8iWpNQoQzzr4m8aO/++v9a+jyj/eY+n+R83my/cM+azwa/VU9D8vek0fR3wv/AOQV/wBtG/nX5VnH8dn6blH8JHpdfOn0oooGFABQAUAFABQAUAFABQAUAJmgBM1OwutjH1nWINFga4uDtVenqT6Cuyhh5YmahBHDiMRHDRcpHzH4j8Qz+IJzLMcRqT5adgPp6mv1PBYGOEgkt+rPzDG42WJk23ZLZHP+gFevflTb2R5MZO9o9T2HwJ4I8wrqN+uAOY0Pf/aI/lXwWZ5nvRouy6n3GWZbyv29Tqe4IoUYAwBXw/xay3PuUuRcqWg8DFFizyL4sQF7SKQdFkwfxBr6zJJqFVrufHZ3G8EeDn7vFfpL6ryPzzm2SPpzwBeLdaVEAeY8qfYgmvyPMoezryv1P1bLJc1FLsd1XjHvCg0wCgBtJ6COd8UXS2emzyntGcfU134KLqV4RXc83GzVOjKT7Hyb1ya/Y17sUvkfkUneUpLY9g+E8BMs8xHAUL/WviM9klyRPs8kg1zTOL8cwmDWJyejtu/OvdymXNhoJdEeDmseWvzef6mNok4tb6GQ8BZFz+J/wrsxsXOjK3ZnPgpKNdep9dRkOoYdCAR+NfjjXK2n3P16m1aMvIsDig1FoAKAGGp2YmeJ/Fm6XEFuOWyzEegAFfb5FB8zkfDZ5NJJHi/UHHc195L3V6XPiIv2jSR9DRQG38KFDwfsxP5rX5m5c+Pv/e/U/RVHkwPL1t+h88jjFfp62XofmknaXzZ7Z8JPu3H+8P5V8BnvxRP0HI3pJHtdfFH2wUANNAnsfL3j7/kMS/h/Kv1PKP8Ad0fluau1dmBoY/02D/rsn/oQr1Mb/Bn/AIX+R5uBf76PqfXkX3R9BX41Ldn7BD4V6E1SahSA86+Jv/IIf/fX+tfRZR/vMf67HzubfwGfNvf8K/VOh+Ut++fRnwv/AOQX/wBtG/nX5ZnH8dn6jk/8I9Kr50+m6iigYUAFABQAUAFABQAUAFABQA0nFIDN1LUodLha4nYKiDPPr6D3roo0p15KnBXbf3HHXrRw8XKej6HzP4n8TTeIZi7EiBT8if1I9a/T8DgVg4rS8tLs/Msbj5Yi/wDKrnLAA9e1e5KSjqz56LdTRq3ZHqngbwWb5hfXqnykIKKeNxHcj09PWvic0zHlXsqL18j7fLcv9pac1oe9RosahVGAOgr4Ntyd5bs+/jBQSitkS0jQKQaHI+MtN/tTTZYlGWUb1+q//Wr1cDV9lWhJ6K54+YUfbUpWWyPlxl2Hawxjj8q/XYS51zR6n5HVg6Ts1Z3PR/h94iXSrk2s52wzdCegfjH5ivkc3wbmvaQWx9XleM9m1CR9DJIHAKnINfnkk4OzP0WElUXMiQUy1rrawtAyNmx1pWb2Jb5XfoeH/EjxItwRptu2QpBlI6d8Ln+dfc5Pg2pe2mrdj4PNsYn+6j5nj444FfePa76HwcW3ot2fR/w60v7BpwlYYec7j9Og/QV+VZpW9tWceiP1bKqXJRTejZx3xS0gpJHfoPlbKN9eo/rXtZHiVrRfTY8bOsO7KpFHkY4+buOfxr7eS5ouMup8TTnyPmvZo+jfAfiVNVtFglb9/CACD1YY4Ir8uzPBuhUc4r3WfpuW4tV6ajJ6o9EBr5/Y+lXoGaBhmjQPTQo3t7FZRNNMwVFGSTWsKTqSSj1OWrWjSi5T0sfLfiXWTrt7JOfuZKoD2XP9a/VsBhvq1KP8x+S5hifrFVu/uozdKsG1G6jto+rsAfpnmurGVVRpSlLdozwVL2lZKOx9K+IbcW2iTRLwEgYf+OmvzHCy5sTGX979T9NxEOXCuPZfofLQXpX69F6X8j8gl8b9We2fCUYW4/3h/Kvz/PPiifoOR7SPaq+LPuQoAaaAPl/x8uNXl/D+VfqeUf7uj8ozbSuzA0MYvoP+uqf+hCvTxv8ABn6P8jzcD/Gj6n15F90fQV+NS+Jn7JD4V6EtI1CgDzz4mf8AIIb/AH1/rX0GUf7zH+ux85m/+7s+bSvNfqvQ/J/tH0V8MONL/wC2jfzr8szj+Oz9Uyf+EelV84fTCimMKACgAoAKACgAoAKACgANAFO7uVs42mkOEQEn6CqhBzlyoyqT9nFy7HzV4t8UTeIZyikrbofkUHGf9o/0FfpmW4JYaKq9Wj8sx+OniKjp302OPZcCvpd9tj51+5odh4S0izu5vOv5EjhjIwrHlj75xxXzuY16kI+zoRbfc+hy6nSk+evY97i8QaXboEjmiVVGAAQMYr8/lha8nzOErn6DDFYekuWDSRMPE2m/8/Ef/fQqfqdb+RmqxtH+ZC/8JPpv/PxH/wB9Cj6nW/kf3D+u0P5kNPibTf8AnvH/AN9Cl9TrrXkf3E/XaP8AMi/DdwXq5hdZFPoQeK5p050mrppo6Y1adaLUXc+f/Hnhl9KujdRL/o8pJGOiseo9vav0HKsaqkFSk/eR+d5tgZU5e1ht2PPuTgjjFfVSUZLll1PlozlB8y0sel+GviFNpii3vAZYhwG/iA/r+ea+QxuUKd50t+x9Vgs3dJqFTbY9XsvG2lXigiYIT2f5TXyU8BXhpyv5H2cMyoyV+YluvGOl2q7jOreynJ/KphgK8vsP7i55jQitJI808R/EdrpWg04FARjeeD+A5xX0+Cyhxkp11p2PlcbnCkuWizydy8hLNyxOee57/jX20IRpK0FZI+Kq1JVHzT1Z1HhHw6+u3igjEMZzIe2B2+prw8yxkcNTcU/eeh7mW4OVerz8vun07BCtuixoMKoAAHoOK/LZzcm5Pds/VKcFBKMdkZeu6THrFq9rIPvDg+h7H8K6cNWeHqKcfmcuKoLEQlA+WdR06XS7h7addrIT+I7EfWv1vDYiOIgpRetj8ixVF0Jyg1oMsb6fTJRPbMUdTnI/kfUVVfDxxEXCa3McPip4a0ovRM9p0T4mwSqI79TG/wDeHIPvjtXwmJyepTu6eq6I/QMNnUJ2jN2O4i8WaXKu5biP8SBXhPBV46ODPoFjqDV+dfeY+peP9MsQdj+c2OAnIP4110crr1Xqrepw1s1pUl7rueNeJPGF14gbZ/q4AeEB6+mT3+lfbYPLIYdc1TWR8RjM1liW4Q2OP2kD3r6G6irvSx84lKa21bPbvhz4YNsP7RuFwzDEYPYHkn6mvzvNsZ7SXsovbzP0XKcF7K1Wa1O88W/8gq4/65P/ACNeDgf40PU+ix+lGXoz5X6V+wx0il5H41J+982e0/Cc/Lcf7w/lXwWefFE/Qsj2ke0V8YfcBQA2kB8xePf+QxJ+FfqeUr/Zkfkubv8AfswNEH+n25/6ap/6EK9LG/wZ+j/I8/Bfxo+qPrmL7o+gr8cluz9lh8EfREoqTUKYHnnxM/5BDf76/wBa+gyj/eY+n+R83m+mHbPnE9fwr9SvoflL+JH0P8Mf+QX/ANtG/nX5fnGld+h+pZP/AAj0mvnT6gWgAoAKACgAoAKACgAoAKAA0AZeq2v2y2kh/voR+lb0Z+zqRk+5yV4c9NwR8l3ls9ncPC4KsjFefr/Wv17DTVSknF6WR+M4unKhWbfdleu3Xa2hwaNa7icjjNDin0KU3HROwAe5pcsf5R+0l/OxcH1NLlj/ACg6s9uZgR7n86XJHsCl3kwx6cU+WOzQ/aSj8Mma+ja1caNOs0LMACNy5+Vh3BHf29K8rFYKnXi7JJ20PTwmNnRlrLqfS0Qt/EVgrSKGjnQHB7Z/qK/L254Ss7O1mfqkYwxtBOXVHhvibwRdaMxlgHm25J+6OVHoR/WvvcFmdOslCrpJdT4HHZZUpX9mtDhGXHB4NfTxkpax1R8rKMqek1Z+ggXFW4xethKUo7SYoHvU8qjsg529G2BGPu9aXNpeWg7cz5YJ3Ot8O+ELzXHDbTFDnlyCPyHc+navn8XmNPDxag7y6H0eCyyrVkpTXun0Ro2iwaLbrb26hQOp7k9yfevznEV5YiXPLXyP0vD4aOHgow0ZsgYrlO1KwhWhdyjjPFPhOHX4sjCTr918fofavYwWNnhZL+W+x4OOwMMRFu2tj571XQ7vRZDFcoRjo2PlP0P9K/RsPjaeJSadpdj8yxGBqYZvRuPoZPTocV6m+6PMbS8mIFPrScY/yjUpd2JjHeqtb4UkLmfVslijaZgsYLk9ABk/kKxqVI0lzVGka06c6j/dxbueteEfh+7st3qIwowViPUnr83+FfEY/NeZOnR+8+7y/KmmqlX7me2RxLEoRAAAMAD0r4ptyu5bn3UIKmrLZHPeLR/xKrj/AK5P/wCgmvRwWleHqeZj/wCDL0PlfHTFfr8WlFPyPxqSvNpdz3P4WWTw28s7DCyP8vvgcmvzjOKqnUUV0P0nJaThFtnrvSvlj7MQ0AIaWwj5v+I1hJb6mZiPllAKn6YyK/SMnrRdHkvsfluc0ZRquokzldEH+nW47+ah/wDHhXt4xp0J27P8jxcBpWjfyPraM/KPoK/Hpbv1P2iHwx9CUVJoLTGcN4/s3vNKkWMZKEPj2HWvYy2oqNeMn6Hz+aUnVoOMT5oI2tg1+rRacLrqfkkouE7PofQ/wzwNM/7aN/OvzPOP479D9Syb+EejivnEfUDqYwoAKACgAoAKACgAoAKAA0ARlaT6eQrbnEeIvBNprjeb/qpf7yjr9RXs4bMKmGXLf3b7Hz2Ly2nindKzOK/4VS/a4H/fH/169v8Atx9I6HhPIOqYf8Kpf/n4H/fH/wBen/bj/l/EX9geYv8Awql/+fgf98f/AF6P7df8v4i/sBdxP+FUuP8Al4H/AHx/9ej+3X/L+If2Aukg/wCFUv8A8/A/74/+vR/bj/l/EP7AX8wf8Kof/n4H/fH/ANej+3X/ACi/sBdxf+FUv/z8D/vj/wCvSeeya5eVFLIFF3ueneHtJfRrNLRn8zyxgHGP8a+WxFVVpubSVz7DD0HQhGCeiNtowwwRkelcqbjqnZ9DtlGM78yucfqvgbTtUyxQROecpxz64HFetQzCtQS95tHh18spVuiRx03wpjJPlTkD/aXP9a9mOeTtay+88SWRU7+67CRfChQf3k5I/wBlcf1oedVHsl95cMigt2jqtM+H2m6cQ7L5rDu/P6dK8utmVasrXsvI9WllVGlqkdrHCsICRgKo6ADGK8Vtzd5O7PdjBU0owViwBSNRaACkAwikBTu9PgvUKTorqexANbwqypO8G0clShCsrSSOC1D4aafcktCWhJ9OR+Rr3aWb1oaPVI8Crk1Gd3FJM59/hUc/JcYHuv8A9eu/+3Wt0eY8iXR6F21+FdupzPKzj0Ax/WsamdVJfDodNPJIL4tTudK8LWGkD/R4l3f3iMn8zXh1sZVr/FJnu0MBSofDHU6FVxXn77nqpcqsh9BRl6xYf2laSWoOzzUK59MjGa3o1PZTU+xyV6Xt4Om+p5zY/C+3gYNcStJj+EDAP619BPN5yXLHtY+bhk8Iy5men2dpHZRiKEBUXgADFfNzqSqScpa3Pp6VGNGPLAu1J0AaAENIDE1nQrbW4vJuVBHY9wfUGuuhXnh3zQenY8/E4WGIXvHAQ/DRLW6S4hmOI3DbWHYHOMg17c81lODptbqx4UMqjTqe0XR6HqyDaMelfNvfQ+pirJLsSipNAxTAikiEgKtyD2oT5XzJ2aM5xU1yy6nmmrfDWzvpGlhYwljkgDK5+lfR0M1q0Y8t7o+XrZRCpLmR0/hfQT4ftvsxfzPmLZxjr2615WKxH1qfO9D2MLhlho8qOoFcCPTFpjCgAoAKACgAoAKACgAoAKADFADdtLYPIAuKBJWDFIYuKdgDFACYpAG2qEGKVkABcUrD0FxTEJtpBYTbT0CyFxiiyCyQuKYwxQAtIAoAKAENIBaYCYo1FYTFA9hcUxWDFAwxQAYpAJtosAbaLISuLjFPYYtABQAUAJilbsAmKAFxQAUwFoADQA3FAbABilZALTAWgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoAKACgAoA//Z
      x-private: true
  /contacts:
    get:
      responses:
        '200':
          description: |-
            **HTTP Status Code:** `200`<br>
            Contact returned successfully.
          schema:
            type: object
            properties:
              page_size:
                type: integer
                description: The number of records returned with a single API call. Default value is `1`.
                maximum: 25
              next_page_token:
                type: string
                description: The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.
              contacts:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: User ID of the contact.
                    email:
                      type: string
                      description: Email address of the contact.
                    first_name:
                      type: string
                      description: First name of the contact.
                    last_name:
                      type: string
                      description: Last name of the contact.
                    presence_status:
                      type: string
                      description: |-
                        Presence status of the contact in Zoom Client. The value of this field can be one of the following:
                        `Do_Not_Disturb`<br> `away`<br> `Available`<br> `Offline`
                      enum:
                        - Do_Not_Disturb
                        - Away
                        - Available
                        - Offline
                    phone_number:
                      type: string
                      description: Phone number of the user.
                    sip_phone_number:
                      type: string
                      description: SIP Phone number of the user. Returned only if user has SIP phone enabled.
                    direct_numbers:
                      type: array
                      description: Direct Number(s) of a user who has Zoom Phone license assigned.
                      items:
                        type: string
                    extension_number:
                      type: string
                      description: Extension Number of a user who has Zoom Phone license assigned.
                    im_group_id:
                      type: string
                      description: 'Unique Identifier of the [IM directory group](https://support.zoom.us/hc/en-us/articles/203749815-IM-Management) in which the user has been added. An IM Directory group is not the same as a channel. IM Directory allows administrators to assign users in their account to groups that display within the Contacts list on Zoom clients. '
                    im_group_name:
                      type: string
                      description: 'Name of the [IM directory group](https://support.zoom.us/hc/en-us/articles/203749815-IM-Management) in which the user has been added. An IM Directory group is not the same as a channel. IM Directory allows administrators to assign users in their account to groups that display within the Contacts list on Zoom clients. '
                    dept:
                      type: string
                      description: Department of the contact as provided in the user's Zoom profile.
                    job_title:
                      type: string
                      description: Department of the user as provided in the user's Zoom profile.
                    location:
                      type: string
[...]
