openapi: 3.0.1
info:
  title: Zoom API
  description: |-
    The Zoom API allows developers to access information from Zoom. You can use this API to build private services or public applications on the [Zoom App Marketplace](http://marketplace.zoom.us). To learn how to get your credentials and create private/public applications, read our [Authorization Guide](https://marketplace.zoom.us/docs/guides/authorization/credentials).
    All endpoints are available via `https` and are located at `api.zoom.us/v2/`.

    For instance you can list all users on an account via `https://api.zoom.us/v2/users/`.
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
    email: developersupport@zoom.us
  license:
    name: MIT for OAS 2.0
    url: https://opensource.org/licenses/MIT
  version: 2.0.0
servers:
  - url: https://api.zoom.us/v2
security:
  - OAuth: []
tags:
  - name: Accounts
    description: Account operations
  - name: Billing
    description: Billing operations
  - name: Chat Channels
  - name: Chat Channels (Account-level)
  - name: Chat Messages
    description: Chat Messages operations
  - name: Chatbot Messages
  - name: Contacts
    description: Contacts operations
  - name: Cloud Recording
    description: Cloud Recording operations
  - name: Dashboards
    description: Dashboard operations
  - name: Data Compliance
  - name: Devices
    description: H323 Device operations
  - name: Groups
    description: Group operations
  - name: IM Chat
    description: IM Chat operations
  - name: IM Groups
    description: IM Group operations
  - name: Meetings
    description: Meeting operations
  - name: PAC
    description: PAC operations
  - name: Phone
  - name: Phone Auto Receptionists
  - name: Phone Blocked List
  - name: Phone Call Queues
  - name: Phone Devices
  - name: Phone Reports
  - name: Phone Shared Line Groups
  - name: Phone Site
  - name: Common Area Phones
  - name: Reports
    description: Report operations
  - name: Roles
    description: User Roles
  - name: Rooms
    description: ZoomRooms operations
  - name: Rooms Account
  - name: Rooms Location
  - name: SIP Phone
  - name: TrackingField
    description: Tracking Field operations
  - name: TSP
    description: TSP operations
  - name: Users
    description: User operations
  - name: Webhooks
    description: Webhook operations
  - name: Webinars
    description: Webinar operations
  - name: master account APIs
    description: APIs available to the master account for a Zoom account.
  - name: Rooms Devices
  - name: SIP Connected Audio
  - name: Deprecated API Endpoints
paths:
  /accounts/{accountId}/phone/setup:
    post:
      tags:
        - Phone
      summary: Set up a Zoom Phone account
      description: |+
        After assigning a Zoom phone license to an account, an admin or account owner can proceed with the [initial Zoom phone set up](https://support.zoom.us/hc/en-us/articles/360001297663-Getting-started-with-Zoom-Phone-admin-#h_5ae26a3a-290c-4a8d-b3b0-6384ed267b13) using this API.

        **Scope**:<br>
        * `phone:write:admin` `phone:write`

        **Prerequisites**: <br>
        * Pro or a higher paid account with master account option enabled.

        <br>**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`<br>

      operationId: setUpAccount
      parameters:
        - name: accountId
          in: path
          description: Unique identifier of the account.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - emergency_address
                - extension_number
              type: object
              properties:
                extension_number:
                  type: string
                  description: Specify extension number that will be associated with
                    the owner of the account.
                  default: "800"
                emergency_address:
                  required:
                    - address_line1
                    - country
                  type: object
                  properties:
                    country:
                      type: string
                      description: Specify the two letter [country code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries)
                        (Alpha-2 code in ISO-3166).
                    address_line1:
                      type: string
                      description: Specify the street address.
                    address_line2:
                      type: string
                      description: Specify any building number, floor number, or unit
                        number.
                    state_code:
                      type: string
                      description: State code of the emergency address. Required or
                        optional dependent on the country and state.
                    city:
                      type: string
                      description: City of the emergency address. Required or optional
                        dependent on different countries.
                    zip:
                      type: string
                      description: Zip code of the emergency address. Required or
                        optional dependent on different countries.
                  description: Specify emergency address for the account.
          multipart/form-data:
            schema:
              required:
                - emergency_address
                - extension_number
              type: object
              properties:
                extension_number:
                  type: string
                  description: Specify extension number that will be associated with
                    the owner of the account.
                  default: "800"
                emergency_address:
                  required:
                    - address_line1
                    - country
                  type: object
                  properties:
                    country:
                      type: string
                      description: Specify the two letter [country code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries)
                        (Alpha-2 code in ISO-3166).
                    address_line1:
                      type: string
                      description: Specify the street address.
                    address_line2:
                      type: string
                      description: Specify any building number, floor number, or unit
                        number.
                    state_code:
                      type: string
                      description: State code of the emergency address. Required or
                        optional dependent on the country and state.
                    city:
                      type: string
                      description: City of the emergency address. Required or optional
                        dependent on different countries.
                    zip:
                      type: string
                      description: Zip code of the emergency address. Required or
                        optional dependent on different countries.
                  description: Specify emergency address for the account.
        required: false
      responses:
        201:
          description: |-
            **HTTP Status Codes** `201`<br>
            Created.
          content: {}
        400:
          description: |-
            **HTTP Response Code:** `400`<br>

            **Error Codes:** `300`<br>
            The extension number {0} that you entered is a reserved number and can not be used. Provide a different number and try again.<br>
            This account is not enrolled in a Zoom Phone plan. Subscribe to a Zoom Phone plan and try again.<br>
            The billing information could not be retrieved at this time. Retry the request again after a few seconds.<br>
            The country code you entered is invalid. Provide a valid country code and try again.<br>
            The state code you entered is invalid. Provide a valid state code and try again.<br>
            The city information you entered is invalid. Provide a valid city name and try again.<br>
            State code is required for this country.<br>
            City is required for this country.<br>
            Zip is required for this country.<br>
          content: {}
        401:
          description: |-
            **HTTP Status Code:** `401`<br>
            Unauthorized.<br>

            **Error Code:** <br>
            `124` Account does not exist: {accountId}.<br>
          content: {}
      security:
        - OAuth: []
      x-codegen-request-body-name: body
  /phone/numbers:
    get:
      tags:
        - Phone
      summary: List phone numbers
      description: |-
        A Zoom account owner or admin can purchase phone numbers and assign them to Zoom phone users. Use this API to list all Zoom Phone numbers in a Zoom account. You can filter the response based on your needs by using query parameters.

        **Prerequisites:**<br>
        * Pro or higher plan with Zoom phone license<br>
        **Scope:** `phone:read:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: listAccountPhoneNumbers
      parameters:
        - name: next_page_token
          in: query
          description: The next page token is used to paginate through large result
            sets. A next page token will be returned whenever the set of available results
            exceeds the current page size. The expiration period for this token is 15
            minutes.
          schema:
            type: string
        - name: type
          in: query
          description: |-
            Query response by number assignment. The value can be one of the following:
            <br>
            `assigned`: The number has been assigned to either a user, a call queue, an auto-receptionist or a common area phone in an account. <br>`unassigned`: The number is not assigned to anyone.<br>
            `all`: Include both assigned and unassigned numbers in the response.<br>
            `byoc`: Include Bring Your Own Carrier (BYOC) numbers only in the response.
          schema:
            type: string
            enum:
              - assigned
              - unassigned
              - all
        - name: extension_type
          in: query
          description: |-
            The type of assignee to whom the number is assigned. The value can be one of the following:<br>
            `user`<br> `callQueue`<br> `autoReceptionist`<br>
            `commonAreaPhone`
          schema:
            type: string
            enum:
              - user
              - callQueue
              - autoReceptionist
              - commonAreaPhone
        - name: page_size
          in: query
          description: The number of records returned within a single API call.
          schema:
            maximum: 100
            type: integer
            default: 30
        - name: number_type
          in: query
          description: The type of phone number. The value can be either `toll` or `tollfree`.
          schema:
            type: string
            enum:
              - toll
              - tollfree
        - name: pending_numbers
          in: query
          description: Include or exclude pending numbers in the response. The value
            can be either `true` or `false`.
          schema:
            type: boolean
        - name: site_id
          in: query
          description: Unique identifier of the site. Use this query parameter if you
            have [enabled multiple sites](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15)
            and would like to filter the response of this API call by a specific phone
            [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-multiple-sites).
          schema:
            type: string
      responses:
        200:
          description: |-
            **HTTP Status Code:** `200` **OK**<br>
            Phone numbers listed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large
                      result sets. A next page token will be returned whenever the
                      set of available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.)
                  page_size:
                    type: integer
                    description: The number of records returned within a single API
                      call.
                  total_records:
                    type: integer
                    description: The total number of records returned.
                  phone_numbers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique Identifier of the Phone Number.
                        number:
                          type: string
                          description: Phone number in E164 format.
                        display_name:
                          type: string
                          description: The display name for the phone number.
                        source:
                          type: string
                          description: Source of phone number.
                          enum:
                            - internal
                            - external
                        status:
                          type: string
                          description: Status of the number.
                          enum:
                            - pending
                            - available
                        number_type:
                          type: string
                          description: |-
                            The type of number. Values can be one of the following:<br>
                            `toll`, `tollfree`
                          enum:
                            - toll
                            - tollfree
                        capability:
                          type: array
                          description: The capability for the phone number, whether
                            it can take incoming calls, make outgoing calls, or both.
                            Values include `incoming`, `outgoing`, or both of these
                            values.
                          items:
                            type: string
                        location:
                          type: string
                          description: Location (city, state and country) where the
                            Phone number is assigned.
                        assignee:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Unique Identifier of the user to whom the
                                number has been assigned.
                            name:
                              type: string
                              description: Name of the user to whom the number has
                                been assigned.
                            extension_number:
                              type: integer
                              description: Extension number of the Phone.
                            type:
                              type: string
                              description: |-
                                Indicates who the phone number belongs to.<br>
                                `user`: Number has been assigned to an existing phone user allowing them to receive calls through their extension number or direct phone number.<br> `callQueue`: Phone number has been assigned to a [call queue](https://support.zoom.us/hc/en-us/articles/360021524831-Managing-Call-Queues).<br> `commonAreaPhone`: Phone number has been assigned to a [ provisioned common area desk phone](https://support.zoom.us/hc/en-us/articles/360021119092-Provisioning-Phones-and-Devices).
                                `autoReceptionist`: Phone number has been assigned to an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Integrated-Voice-Response-IVR-).<br>
                              enum:
                                - user
                                - callQueue
                                - autoReceptionist
                                - commonAreaPhone
                        site:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Target [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites)
                                in which the phone number was assigned. Sites allow
                                you to organize the phone users in your organization.
                                For example, you sites could be created based on different
                                office locations.
                            name:
                              type: string
                              description: Name of the site where the phone number
                                is assigned.
                        carrier:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The carrier code.
                            name:
                              type: string
                              description: Name of the carrier to which the phone
                                number is assigned.
                          description: Displayed when the `type` request parameter
                            is `byoc`.
                        sip_group:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The ID of the SIP group. See the **Creating
                                SIP groups** section in [Creating a shared directory
                                of external contacts](https://support.zoom.us/hc/en-us/articles/360037050092-Creating-a-shared-directory-of-external-contacts)
                                for details.
                            name:
                              type: string
                              description: Name of the SIP group for which the phone
                                number is assigned.
                          description: Displayed when the `type` request parameter
                            is `byoc`.
              example:
                next_page_token: ""
                page_size: 30
                total_records: 2
                phone_numbers:
                  - id: execvbfgbgr
                    number: "0000111100"
                    display_name: abc
                    source: internal
                    status: pending
                    number_type: tollfree
                    capability:
                      - incoming
                      - outgoing
                    location: Milpitas,California,United States
                    assignee:
                      id: cgfdgfghghim
                      name: Peter Jenner
                      extension_number: 12
                      type: user
                    site:
                      id: sdfsdfgrg
                      name: SF office
                  - id: fdgfdgfdh
                    number: "111111111"
                    source: external
                    status: available
                    number_type: toll
                    location: San Jose,California,United States
                    assignee:
                      id: dfgdfghdfhgh
                      name: Receptionist
                      extension_number: 1
                      type: autoReceptionist
                    site:
                      id: jhdfsdghfdg
                      name: San Jose office
            application/xml:
              schema:
                type: object
                properties:
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large
                      result sets. A next page token will be returned whenever the
                      set of available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.)
                  page_size:
                    type: integer
                    description: The number of records returned within a single API
                      call.
                  total_records:
                    type: integer
                    description: The total number of records returned.
                  phone_numbers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique Identifier of the Phone Number.
                        number:
                          type: string
                          description: Phone number in E164 format.
                        display_name:
                          type: string
                          description: The display name for the phone number.
                        source:
                          type: string
                          description: Source of phone number.
                          enum:
                            - internal
                            - external
                        status:
                          type: string
                          description: Status of the number.
                          enum:
                            - pending
                            - available
                        number_type:
                          type: string
                          description: |-
                            The type of number. Values can be one of the following:<br>
                            `toll`, `tollfree`
                          enum:
                            - toll
                            - tollfree
                        capability:
                          type: array
                          description: The capability for the phone number, whether
                            it can take incoming calls, make outgoing calls, or both.
                            Values include `incoming`, `outgoing`, or both of these
                            values.
                          items:
                            type: string
                        location:
                          type: string
                          description: Location (city, state and country) where the
                            Phone number is assigned.
                        assignee:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Unique Identifier of the user to whom the
                                number has been assigned.
                            name:
                              type: string
                              description: Name of the user to whom the number has
                                been assigned.
                            extension_number:
                              type: integer
                              description: Extension number of the Phone.
                            type:
                              type: string
                              description: |-
                                Indicates who the phone number belongs to.<br>
                                `user`: Number has been assigned to an existing phone user allowing them to receive calls through their extension number or direct phone number.<br> `callQueue`: Phone number has been assigned to a [call queue](https://support.zoom.us/hc/en-us/articles/360021524831-Managing-Call-Queues).<br> `commonAreaPhone`: Phone number has been assigned to a [ provisioned common area desk phone](https://support.zoom.us/hc/en-us/articles/360021119092-Provisioning-Phones-and-Devices).
                                `autoReceptionist`: Phone number has been assigned to an [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Integrated-Voice-Response-IVR-).<br>
                              enum:
                                - user
                                - callQueue
                                - autoReceptionist
                                - commonAreaPhone
                        site:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Target [site](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites)
                                in which the phone number was assigned. Sites allow
                                you to organize the phone users in your organization.
                                For example, you sites could be created based on different
                                office locations.
                            name:
                              type: string
                              description: Name of the site where the phone number
                                is assigned.
                        carrier:
                          type: object
                          properties:
                            code:
                              type: string
                              description: The carrier code.
                            name:
                              type: string
                              description: Name of the carrier to which the phone
                                number is assigned.
                          description: Displayed when the `type` request parameter
                            is `byoc`.
                        sip_group:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The ID of the SIP group. See the **Creating
                                SIP groups** section in [Creating a shared directory
                                of external contacts](https://support.zoom.us/hc/en-us/articles/360037050092-Creating-a-shared-directory-of-external-contacts)
                                for details.
                            name:
                              type: string
                              description: Name of the SIP group for which the phone
                                number is assigned.
                          description: Displayed when the `type` request parameter
                            is `byoc`.
      security:
        - OAuth: []
  /sip_phones:
    get:
      tags:
        - SIP Phone
      summary: List SIP phones
      description: |
        Zoom’s Phone System Integration (PSI), also referred as SIP phones, enables an organization to leverage the Zoom client to complete a softphone registration to supported premise based PBX system. End users will have the ability to have softphone functionality within a single client while maintaining a comparable interface to Zoom Phone. Use this API to list SIP phones on an account.<br><br>
        **Prerequisites**:
        * Currently only supported on Cisco and Avaya PBX systems.
        * User must enable SIP Phone Integration by contacting the [Sales](https://zoom.us/contactsales) team.<br> **Scope:** `sip_phone:read:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`<br>
      operationId: listSipPhones
      parameters:
        - name: page_number
          in: query
          description: |2-

            **Deprecated** - This field has been deprecated and we will stop supporting it completely in a future release. Please use "next_page_token" for pagination instead of this field.

            The page number of the current page in the returned records.
          schema:
            type: integer
            default: 1
        - name: search_key
          in: query
          description: User name or email address of a user. If this parameter is provided,
            only the SIP phone system integration enabled for that specific user will
            be returned. Otherwise, all SIP phones on an account will be returned.
          schema:
            type: string
        - name: page_size
          in: query
          description: The number of records returned within a single API call.
          schema:
            type: integer
        - name: next_page_token
          in: query
          description: The next page token is used to paginate through large result
            sets. A next page token will be returned whenever the set of available results
            exceeds the current page size. The expiration period for this token is 15
            minutes.
          schema:
            type: string
      responses:
        200:
          description: |-
            **HTTP Status Code:** `200`<br>
            SIP Phones listed successfully.

            **Error Code:** `200`<br>
            Permission missing: Enable SIP Phone Integration by contacting a Zoom Admin first.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page_count:
                    type: integer
                    description: The number of pages returned for the request made.
                  page_number:
                    type: integer
                    description: The page number of the current results.
                  page_size:
                    type: integer
                    description: The number of records returned within a single API
                      call.
                  total_records:
                    type: integer
                    description: The total number of all the records available across
                      pages.
                  phones:
                    type: array
                    description: SIP phones object.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique Identifier of the SIP Phone.
                        user_email:
                          type: string
                          description: The email address of the user to associate
                            with the SIP Phone. Can add [.win, .mac, .android, .ipad,
                            .iphone, .linux, .pc, .mobile, .pad] at the end of the
                            email (ex. user@test.com.mac) to add accounts for different
                            platforms for the same user.
                          format: email
                        domain:
                          type: string
                          description: |
                            The name or IP address of your provider’s SIP domain. (example: CDC.WEB).
                        register_server:
                          type: string
                          description: IP address of the server that accepts REGISTER
                            requests. Note that if you are using the UDP transport
                            protocol, the default port is 5060. If you are using UDP
                            with a different port number, that port number must be
                            included with the IP address.
                        transport_protocol:
                          type: string
                          description: Protocols supported by the SIP provider.<br>
                            The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                          enum:
                            - UDP
                            - TCP
                            - TLS
                            - AUTO
                        proxy_server:
                          type: string
                          description: IP address of the proxy server for SIP requests.
                            Note that if you are using the UDP transport protocol,
                            the default port is 5060. If you are using UDP with a
                            different port number, that port number must be included
                            with the IP address. If you are not using a proxy server,
                            this value can be the same as the Register Server, or
                            empty.
                        register_server2:
                          type: string
                          description: IP address of the server that accepts REGISTER
                            requests. Note that if you are using the UDP transport
                            protocol, the default port is 5060. If you are using UDP
                            with a different port number, that port number must be
                            included with the IP address.
                        transport_protocol2:
                          type: string
                          description: Protocols supported by the SIP provider.<br>
                            The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                          enum:
                            - UDP
                            - TCP
                            - TLS
                            - AUTO
                        proxy_server2:
                          type: string
                          description: IP address of the proxy server for SIP requests.
                            Note that if you are using the UDP transport protocol,
                            the default port is 5060. If you are using UDP with a
                            different port number, that port number must be included
                            with the IP address. If you are not using a proxy server,
                            this value can be the same as the Register Server, or
                            empty.
                        register_server3:
                          type: string
                          description: IP address of the server that accepts REGISTER
                            requests. Note that if you are using the UDP transport
                            protocol, the default port is 5060. If you are using UDP
                            with a different port number, that port number must be
                            included with the IP address.
                        transport_protocol3:
                          type: string
                          description: Protocols supported by the SIP provider.<br>
                            The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                          enum:
                            - UDP
                            - TCP
                            - TLS
                            - AUTO
                        proxy_server3:
                          type: string
                          description: IP address of the proxy server for SIP requests.
                            Note that if you are using the UDP transport protocol,
                            the default port is 5060. If you are using UDP with a
                            different port number, that port number must be included
                            with the IP address. If you are not using a proxy server,
                            this value can be the same as the Register Server, or
                            empty.
                        registration_expire_time:
                          type: integer
                          description: 'The number of minutes after which the SIP
                            registration of the Zoom client user will expire, and
                            the client will auto register to the SIP server. '
                        user_name:
                          type: string
                          description: 'The phone number associated with the user
                            in the SIP account. '
                        password:
                          type: string
                          description: |
                            The password generated for the user in the SIP account.
                        authorization_name:
                          type: string
                          description: Authorization name of the user  registered
                            for SIP Phone.
                        voice_mail:
                          type: string
                          description: The number to dial for checking voicemail.
                  next_page_token:
                    type: string
              example:
                page_count: 1
                page_number: 1
                page_size: 1
                total_records: 1
                phones:
                  - id: "123456"
                    user_email: CfRE2opiq3HokO@someemailtype.com
                    domain: CDC.WEB
                    register_server: 192.168.0.100
                    transport_protocol: UDP
                    proxy_server: 192.168.0.10
                    register_server2: 192.168.0.100
                    transport_protocol2: UDP
                    proxy_server2: 192.168.0.10
                    register_server3: 192.168.0.100
                    transport_protocol3: UDP
                    proxy_server3: 192.168.0.10
                    registration_expire_time: 60
                    user_name: "1008"
                    password: apassword1
                    authorization_name: testname
                    voice_mail: "4000"
            application/xml:
              schema:
                type: object
                properties:
                  page_count:
                    type: integer
                    description: The number of pages returned for the request made.
                  page_number:
                    type: integer
                    description: The page number of the current results.
                  page_size:
                    type: integer
                    description: The number of records returned within a single API
                      call.
                  total_records:
                    type: integer
                    description: The total number of all the records available across
                      pages.
                  phones:
                    type: array
                    description: SIP phones object.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique Identifier of the SIP Phone.
                        user_email:
                          type: string
                          description: The email address of the user to associate
                            with the SIP Phone. Can add [.win, .mac, .android, .ipad,
                            .iphone, .linux, .pc, .mobile, .pad] at the end of the
                            email (ex. user@test.com.mac) to add accounts for different
                            platforms for the same user.
                          format: email
                        domain:
                          type: string
                          description: |
                            The name or IP address of your provider’s SIP domain. (example: CDC.WEB).
                        register_server:
                          type: string
                          description: IP address of the server that accepts REGISTER
                            requests. Note that if you are using the UDP transport
                            protocol, the default port is 5060. If you are using UDP
                            with a different port number, that port number must be
                            included with the IP address.
                        transport_protocol:
                          type: string
                          description: Protocols supported by the SIP provider.<br>
                            The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                          enum:
                            - UDP
                            - TCP
                            - TLS
                            - AUTO
                        proxy_server:
                          type: string
                          description: IP address of the proxy server for SIP requests.
                            Note that if you are using the UDP transport protocol,
                            the default port is 5060. If you are using UDP with a
                            different port number, that port number must be included
                            with the IP address. If you are not using a proxy server,
                            this value can be the same as the Register Server, or
                            empty.
                        register_server2:
                          type: string
                          description: IP address of the server that accepts REGISTER
                            requests. Note that if you are using the UDP transport
                            protocol, the default port is 5060. If you are using UDP
                            with a different port number, that port number must be
                            included with the IP address.
                        transport_protocol2:
                          type: string
                          description: Protocols supported by the SIP provider.<br>
                            The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                          enum:
                            - UDP
                            - TCP
                            - TLS
                            - AUTO
                        proxy_server2:
                          type: string
                          description: IP address of the proxy server for SIP requests.
                            Note that if you are using the UDP transport protocol,
                            the default port is 5060. If you are using UDP with a
                            different port number, that port number must be included
                            with the IP address. If you are not using a proxy server,
                            this value can be the same as the Register Server, or
                            empty.
                        register_server3:
                          type: string
                          description: IP address of the server that accepts REGISTER
                            requests. Note that if you are using the UDP transport
                            protocol, the default port is 5060. If you are using UDP
                            with a different port number, that port number must be
                            included with the IP address.
                        transport_protocol3:
                          type: string
                          description: Protocols supported by the SIP provider.<br>
                            The value must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                          enum:
                            - UDP
                            - TCP
                            - TLS
                            - AUTO
                        proxy_server3:
                          type: string
                          description: IP address of the proxy server for SIP requests.
                            Note that if you are using the UDP transport protocol,
                            the default port is 5060. If you are using UDP with a
                            different port number, that port number must be included
                            with the IP address. If you are not using a proxy server,
                            this value can be the same as the Register Server, or
                            empty.
                        registration_expire_time:
                          type: integer
                          description: 'The number of minutes after which the SIP
                            registration of the Zoom client user will expire, and
                            the client will auto register to the SIP server. '
                        user_name:
                          type: string
                          description: 'The phone number associated with the user
                            in the SIP account. '
                        password:
                          type: string
                          description: |
                            The password generated for the user in the SIP account.
                        authorization_name:
                          type: string
                          description: Authorization name of the user  registered
                            for SIP Phone.
                        voice_mail:
                          type: string
                          description: The number to dial for checking voicemail.
                  next_page_token:
                    type: string
        400:
          description: |+
            **HTTP Status Code:** `400`<br> Bad Request

          content: {}
      security:
        - OAuth: []
    post:
      tags:
        - SIP Phone
      summary: Enable SIP phone
      description: |+
        Zoom’s Phone System Integration (PSI), also referred as SIP phones, enables an organization to leverage the Zoom client to complete a softphone registration to supported premise based PBX system. End users will have the ability to have softphone functionality within a single client while maintaining a comparable interface to Zoom Phone. Use this API to enable a user to use SIP phone.<br><br>
        **Prerequisites**:
        * Currently only supported on Cisco and Avaya PBX systems.
        * The account owner or account admin must first enable SIP Phone Integration by contacting the [Sales](https://zoom.us/contactsales) team.<br> **Scope:** `sip_phone:write:admin`
        <br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

      operationId: createSIPPhone
      requestBody:
        content:
          application/json:
            schema:
              required:
                - authorization_name
                - domain
                - password
                - proxy_server
                - register_server
                - user_email
                - user_name
                - voice_mail
              type: object
              properties:
                domain:
                  maxLength: 64
                  type: string
                  description: 'The name or IP address of your provider’s SIP domain.
                    (example: CDC.WEB).'
                register_server:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server.
                register_server2:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol2:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server2:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server, or empty.
                register_server3:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol3:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server3:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server, or empty.
                registration_expire_time:
                  maximum: 127
                  minimum: 1
                  type: integer
                  description: The number of minutes after which the SIP registration
                    of the Zoom client user will expire, and the client will auto
                    register to the SIP server.
                user_name:
                  maxLength: 64
                  type: string
                  description: The phone number associated with the user in the SIP
                    account.
                password:
                  type: string
                  description: The password generated for the user in the SIP account.
                authorization_name:
                  maxLength: 64
                  type: string
                  description: Authorization name of the user  registered for SIP
                    Phone.
                user_email:
                  maxLength: 64
                  type: string
                  description: The email address of the user to associate with the
                    SIP Phone. Can add [.win, .mac, .android, .ipad, .iphone, .linux,
                    .pc, .mobile, .pad] at the end of the email (ex. user@test.com.mac)
                    to add accounts for different platforms for the same user.
                  format: email
                voice_mail:
                  maxLength: 255
                  type: string
                  description: The number to dial for checking voicemail.
          multipart/form-data:
            schema:
              required:
                - authorization_name
                - domain
                - password
                - proxy_server
                - register_server
                - user_email
                - user_name
                - voice_mail
              type: object
              properties:
                domain:
                  maxLength: 64
                  type: string
                  description: 'The name or IP address of your provider’s SIP domain.
                    (example: CDC.WEB).'
                register_server:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server.
                register_server2:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol2:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server2:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server, or empty.
                register_server3:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol3:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server3:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server, or empty.
                registration_expire_time:
                  maximum: 127
                  minimum: 1
                  type: integer
                  description: The number of minutes after which the SIP registration
                    of the Zoom client user will expire, and the client will auto
                    register to the SIP server.
                user_name:
                  maxLength: 64
                  type: string
                  description: The phone number associated with the user in the SIP
                    account.
                password:
                  type: string
                  description: The password generated for the user in the SIP account.
                authorization_name:
                  maxLength: 64
                  type: string
                  description: Authorization name of the user  registered for SIP
                    Phone.
                user_email:
                  maxLength: 64
                  type: string
                  description: The email address of the user to associate with the
                    SIP Phone. Can add [.win, .mac, .android, .ipad, .iphone, .linux,
                    .pc, .mobile, .pad] at the end of the email (ex. user@test.com.mac)
                    to add accounts for different platforms for the same user.
                  format: email
                voice_mail:
                  maxLength: 255
                  type: string
                  description: The number to dial for checking voicemail.
        required: false
      responses:
        201:
          description: |
            **HTTP Status Code:** `201`<br>
            SIP Phone Created.
          content: {}
        400:
          description: |+
            **HTTP Status Code:** `400`<br>
            Bad request.<br>
            **Error Code:** `200`<br> Permission missing: Enable SIP Phone Integration by contacting a Zoom Admin first.<br>
            **Error Code:** `300`<br>SIP Phone with the same email already exists.


          content: {}
        404:
          description: |+
            **HTTP Status Code:** `404`<br>
            **Error Code:** `1001`<br> User {userId} not exist or not belong to this account.


          content: {}
      security:
        - OAuth: []
      x-codegen-request-body-name: body
  /sip_phones/{phoneId}:
    delete:
      tags:
        - SIP Phone
      summary: Delete SIP phone
      description: |-
        Zoom’s Phone System Integration (PSI), also referred as SIP phones, enables an organization to leverage the Zoom client to complete a softphone registration to supported premise based PBX system. End users will have the ability to have softphone functionality within a single client while maintaining a comparable interface to Zoom Phone. Use this API to delete a specific SIP phone on a Zoom account.<br><br>
        **Prerequisites**:
        * Currently only supported on Cisco and Avaya PBX systems.
        * User must enable SIP Phone Integration by contacting the [Sales](https://zoom.us/contactsales) team.<br> **Scope:** `sip_phone:read:admin`
        <br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
      operationId: deleteSIPPhone
      parameters:
        - name: phoneId
          in: path
          description: Unique Identifier of the SIP Phone. It can be retrieved from
            the List SIP Phones API.
          required: true
          schema:
            type: string
      responses:
        200:
          description: '**Error Code:** `200`<br>Permission missing: Enable SIP Phone
            Integration by contacting a Zoom Admin first.'
          content: {}
        204:
          description: |-
            **HTTP Status Code:** `204`<br>
            SIP Phone deleted.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        300:
          description: '**Error Code:** `300`The SIP phone with this phoneId was not
            found on this account.'
          content: {}
      security:
        - OAuth: []
    patch:
      tags:
        - SIP Phone
      summary: Update SIP phone
      description: |-
        Zoom’s Phone System Integration (PSI), also referred as SIP phones, enables an organization to leverage the Zoom client to complete a softphone registration to supported premise based PBX system. End users will have the ability to have softphone functionality within a single client while maintaining a comparable interface to Zoom Phone. Use this API to update information of a specific SIP Phone on a Zoom account.<br><br>
        **Prerequisites**:
        * Currently only supported on Cisco and Avaya PBX systems.
        * The account owner or account admin must first enable SIP Phone Integration by contacting the [Sales](https://zoom.us/contactsales) team.<br> **Scope:** `sip_phone:write:admin`
        <br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`
      operationId: updateSIPPhone
      parameters:
        - name: phoneId
          in: path
          description: Unique Identifier of the SIP Phone. This can be retrieved from
            the List SIP Phones API.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - authorization_name
                - domain
                - password
                - proxy_server
                - proxy_server2
                - proxy_server3
                - register_server
                - register_server2
                - register_server3
                - user_name
                - voice_mail
              type: object
              properties:
                domain:
                  maxLength: 64
                  type: string
                  description: 'The name or IP address of your provider’s SIP domain.
                    (example: CDC.WEB).'
                register_server:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server.
                register_server2:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol2:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server2:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server.
                register_server3:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol3:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server3:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server.
                registration_expire_time:
                  maximum: 127
                  minimum: 1
                  type: integer
                  description: The number of minutes after which the SIP registration
                    of the Zoom client user will expire, and the client will auto
                    register to the SIP server.
                user_name:
                  maxLength: 64
                  type: string
                  description: The phone number associated with the user in the SIP
                    account.
                password:
                  type: string
                  description: The password generated for the user in the SIP account.
                authorization_name:
                  maxLength: 64
                  type: string
                  description: Authorization name of the user  registered for SIP
                    Phone.
                voice_mail:
                  maxLength: 255
                  type: string
                  description: The number to dial for checking voicemail.
          multipart/form-data:
            schema:
              required:
                - authorization_name
                - domain
                - password
                - proxy_server
                - proxy_server2
                - proxy_server3
                - register_server
                - register_server2
                - register_server3
                - user_name
                - voice_mail
              type: object
              properties:
                domain:
                  maxLength: 64
                  type: string
                  description: 'The name or IP address of your provider’s SIP domain.
                    (example: CDC.WEB).'
                register_server:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server.
                register_server2:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol2:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server2:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server.
                register_server3:
                  type: string
                  description: IP address of the server that accepts REGISTER requests.
                    Note that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address.
                transport_protocol3:
                  type: string
                  description: Protocols supported by the SIP provider.<br> The value
                    must be either `UDP`, `TCP`, `TLS`, `AUTO`.
                  enum:
                    - UDP
                    - TCP
                    - TLS
                    - AUTO
                proxy_server3:
                  type: string
                  description: IP address of the proxy server for SIP requests. Note
                    that if you are using the UDP transport protocol, the default
                    port is 5060. If you are using UDP with a different port number,
                    that port number must be included with the IP address. If you
                    are not using a proxy server, this value can be the same as the
                    Register Server.
                registration_expire_time:
                  maximum: 127
                  minimum: 1
                  type: integer
                  description: The number of minutes after which the SIP registration
                    of the Zoom client user will expire, and the client will auto
                    register to the SIP server.
                user_name:
                  maxLength: 64
                  type: string
                  description: The phone number associated with the user in the SIP
                    account.
                password:
                  type: string
                  description: The password generated for the user in the SIP account.
                authorization_name:
                  maxLength: 64
                  type: string
                  description: Authorization name of the user  registered for SIP
                    Phone.
                voice_mail:
                  maxLength: 255
                  type: string
                  description: The number to dial for checking voicemail.
        required: false
      responses:
        200:
          description: |
            **Error Code:** `200`<br>
            Permission missing: Enable SIP Phone Integration by contacting a Zoom Admin first.
          content: {}
        204:
          description: |
            **HTTP Status Code:** `204`<br>
            SIP Phone information updated successfully.
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
        300:
          description: |
            **Error Code:** `300`<br>
             SIP phone not found: phoneId.<br>
             The SIP phone with this phoneId was not found on this account.
          content: {}
        400:
          description: |+
            **HTTP Status Code:** `400`<br>
            Bad request.

          content: {}
      security:
        - OAuth: []
      x-codegen-request-body-name: body
  /rooms:
    get:
      tags:
        - Rooms
      summary: List Zoom Rooms
      description: |-
        Zoom Rooms is a software-based room system that provides an integrated experience for audio conferencing, wireless screen sharing and video conferencing. Use this API to list all the existing [Zoom Rooms](https://support.zoom.us/hc/en-us/articles/207483343-Getting-Started-with-Zoom-Rooms) in a Zoom account.<br><br>
        **Prerequisites:**<br>
        * Pro or a higher plan with [Zoom Room](https://zoom.us/zoomrooms) license.<br>
        **Scopes**: `room:read:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: listZoomRooms
      parameters:
        - name: status
          in: query
          description: The status of the Zoom Room.
          schema:
            type: string
            enum:
              - Offline
              - Available
              - InMeeting
              - UnderConstruction
        - name: type
          in: query
          description: Type of the Zoom Rooms.
          schema:
            type: string
            enum:
              - ZoomRoom
              - SchedulingDisplayOnly
              - DigitalSignageOnly
        - name: unassigned_rooms
          in: query
          description: Use this query parameter with a value of `true` if you would
            like to see Zoom Rooms in your account that have not been assigned to anyone
            yet.
          schema:
            type: boolean
            default: false
        - name: page_size
          in: query
          description: The number of records returned within a single API call.
          schema:
            maximum: 300
            type: integer
            default: 30
        - name: next_page_token
          in: query
          description: The next page token is used to paginate through large result
            sets. A next page token will be returned whenever the set of available results
            exceeds the current page size. The expiration period for this token is 15
            minutes.
          schema:
            type: string
        - name: location_id
          in: query
          description: Parent location ID of the Zoom Room.
          schema:
            type: string
      responses:
        200:
          description: |-
            **HTTP Status Code:** `200`<br>
            A list of Zoom Rooms returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  page_size:
                    type: integer
                    description: The number of records returned within a single API
                      call.
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large
                      result sets. A next page token will be returned whenever the
                      set of available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.
                  rooms:
                    type: array
                    description: List of existing Zoom Rooms.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique Identifier for the Zoom Room.
                        name:
                          type: string
                          description: Name of the Zoom Room.
                        activation_code:
                          type: string
                          description: Activation Code is the code that is used to
                            complete the setup of the Zoom Room.
                        status:
                          type: string
                          description: Status of the Zoom Room.
                          enum:
                            - Offline
                            - Available
                            - InMeeting
                            - UnderConstruction
                        room_id:
                          type: string
                          description: Globally unique identifier of the Zoom Room.
                            Use this ID for the **Dashboard Zoom Room APIs**.
                        location_id:
                          type: string
                          description: Unique Identifier of the [location](https://marketplace.zoom.us/docs/api-reference/zoom-api/rooms-location/listzrlocations)
                            of the room.
              example:
                page_size: 30
                rooms:
                  - id: 387434ryewr334
                    name: testZoomRooms
                    activation_code: "1200"
                    status: Available
                  - id: 4ryewr33sjfkds
                    name: MyZoomRooms
                    activation_code: eu34355empor
                    status: Offline
            application/xml:
              schema:
                type: object
                properties:
                  page_size:
                    type: integer
                    description: The number of records returned within a single API
                      call.
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large
                      result sets. A next page token will be returned whenever the
                      set of available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.
                  rooms:
                    type: array
                    description: List of existing Zoom Rooms.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique Identifier for the Zoom Room.
                        name:
                          type: string
                          description: Name of the Zoom Room.
                        activation_code:
                          type: string
                          description: Activation Code is the code that is used to
                            complete the setup of the Zoom Room.
                        status:
                          type: string
                          description: Status of the Zoom Room.
                          enum:
                            - Offline
                            - Available
                            - InMeeting
                            - UnderConstruction
                        room_id:
                          type: string
                          description: Globally unique identifier of the Zoom Room.
                            Use this ID for the **Dashboard Zoom Room APIs**.
                        location_id:
                          type: string
                          description: Unique Identifier of the [location](https://marketplace.zoom.us/docs/api-reference/zoom-api/rooms-location/listzrlocations)
                            of the room.
      security:
        - OAuth: []
    post:
      tags:
        - Rooms
      summary: Add a Zoom Room
      description: |-
        Use this API to [add a Zoom Room](https://support.zoom.us/hc/en-us/articles/202822279-Add-Zoom-Rooms-on-Web-Portal) to a Zoom account.<br><br>
        **Prerequisites:**<br>
        * Pro or a higher plan with [Zoom Room](https://zoom.us/zoomrooms) license.<br>
        **Scopes**: `room:write:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: addARoom
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
                - type
              type: object
              properties:
                name:
                  type: string
                  description: Name of the Zoom Room.
                type:
                  type: string
                  description: 'Type of the Zoom Room. '
                  enum:
                    - ZoomRoom
                    - SchedulingDisplayOnly
                    - DigitalSignageOnly
                location_id:
                  type: string
                  description: |-
                    **Optional**<br>Location ID of the lowest level location in the [location hierarchy](https://support.zoom.us/hc/en-us/articles/115000342983-Zoom-Rooms-Location-Hierarchy) where the Zoom Room is to be added. For instance if the structure of the location hierarchy is set up as “country, states, city, campus, building, floor”, a room can only be added under the floor level location.

                    This ID can be retrieved from the [List Zoom Room Locations](https://marketplace.zoom.us/docs/api-reference/zoom-api/rooms-location/listzrlocations) API.
          multipart/form-data:
            schema:
              required:
                - name
                - type
              type: object
              properties:
                name:
                  type: string
                  description: Name of the Zoom Room.
                type:
                  type: string
                  description: 'Type of the Zoom Room. '
                  enum:
                    - ZoomRoom
                    - SchedulingDisplayOnly
                    - DigitalSignageOnly
                location_id:
                  type: string
                  description: |-
                    **Optional**<br>Location ID of the lowest level location in the [location hierarchy](https://support.zoom.us/hc/en-us/articles/115000342983-Zoom-Rooms-Location-Hierarchy) where the Zoom Room is to be added. For instance if the structure of the location hierarchy is set up as “country, states, city, campus, building, floor”, a room can only be added under the floor level location.

                    This ID can be retrieved from the [List Zoom Room Locations](https://marketplace.zoom.us/docs/api-reference/zoom-api/rooms-location/listzrlocations) API.
        required: false
      responses:
        201:
          description: |-
            **HTTP Status Code:** `201` **Created**<br>
            Zoom Room added successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique Identifier of the Zoom Room.
                  name:
                    type: string
                    description: Name of the Zoom Room.
                  type:
                    type: string
                    description: Type of the Zoom Room.
                    enum:
                      - ZoomRoom
                      - SchedulingDisplayOnly
                      - DigitalSignageOnly
                  location_id:
                    type: string
                    description: Location ID of the location where the Zoom Room was
                      added.
                  room_id:
                    type: string
                    description: Globally unique identifier of the Zoom Room. Use
                      this ID for the **Dashboard Zoom Room APIs**.
              example:
                id: abcdefgg
                name: Cool ZoomRoom
                type: SchedulingDisplayOnly
                location_id: 434gfg0is
                room_id: dhsfd8287rgf
            application/xml:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique Identifier of the Zoom Room.
                  name:
                    type: string
                    description: Name of the Zoom Room.
                  type:
                    type: string
                    description: Type of the Zoom Room.
                    enum:
                      - ZoomRoom
                      - SchedulingDisplayOnly
                      - DigitalSignageOnly
                  location_id:
                    type: string
                    description: Location ID of the location where the Zoom Room was
                      added.
                  room_id:
                    type: string
                    description: Globally unique identifier of the Zoom Room. Use
                      this ID for the **Dashboard Zoom Room APIs**.
        400:
          description: |+
            **HTTP Status Code:** `400` **Bad Request**<br><br>
            **Error Code:** `200`<br> Zoom Room subscription not found. Try again after purchasing a Zoom Room subscription.<br>
            At least one normal Zoom Rooms required.<br><br>
            **Error Code:** `300`<br>
            Invalid parent location id {location_id}.<br>

          content: {}
        404:
          description: |-
            **HTTP Status Code:** `404` **Not Found**<br><br>

            **Error Code:** `4801`<br>
            Location not found:{location_id}
          content: {}
      security:
        - OAuth: []
      x-codegen-request-body-name: body
  /phone/sites:
    get:
      tags:
        - Phone Site
      summary: List phone sites
      description: |-
        Sites allow you to organize Zoom Phone users in your organization. Use this API to list all the [sites](https://support.zoom.us/hc/en-us/articles/360020809672) that have been created for an account.<br>
        **Prerequisites:**<br>
        * Multiple Sites must be [enabled](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15).
        * Pro or a higher account with Zoom Phone enabled.

        **Scope:** `phone:read:admin`<br>
         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`
      operationId: listPhoneSites
      parameters:
        - name: page_size
          in: query
          description: The number of records returned within a single API call.
          schema:
            maximum: 300
            type: integer
            default: 30
        - name: next_page_token
          in: query
          description: The next page token is used to paginate through large result
            sets. A next page token will be returned whenever the set of available results
            exceeds the current page size. The expiration period for this token is 15
            minutes.
          schema:
            type: string
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large
                      result sets. A next page token will be returned whenever the
                      set of available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.
                  page_size:
                    type: string
                    description: The number of records returned within a single API
                      call.
                  total_records:
                    type: string
                    description: Total number of records returned.
                  sites:
                    type: array
                    description: List of site(s).
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Site ID. Unique Identifier of the site.
                        name:
                          type: string
                          description: Name of the Site.
                        site_code:
                          type: string
                          description: Site Code
                        main_auto_receptionist:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Identifier of the [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-).
                            extension_id:
                              type: string
                              description: Extension ID
                            extension_number:
                              type: string
                              description: Extension number
                            name:
                              type: string
                              description: Name of the auto receptionist.
                          description: Auto Receptionist for each site.
                        country:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the country.
                            code:
                              type: string
                              description: Two lettered country [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                          description: Site country
              example:
                page_count: 1
                page_number: 1
                page_size: 30
                total_records: 2
                sites:
                  - id: CESAfgkwporiw3WA
                    name: Main Site
                    site_code: 10
                    country:
                      name: Canada
                      code: CA
                    main_auto_receptionist:
                      id: NMyfgfgfhdghsVg
                      extension_id: E6Khfhfhf4idr8A
                      extension_number: 10801
                      name: Main Auto Receptionist
                  - id: fwfhfghbghghfgcuw
                    name: SAC office
                    site_code: 12
                    main_auto_receptionist:
                      id: t1s55343ggfg3wwg
                      extension_id: V7AIhaaaaaaaaRyTw
                      extension_number: 12001
                      name: SAC Office Auto Receptionist
            application/xml:
              schema:
                type: object
                properties:
                  next_page_token:
                    type: string
                    description: The next page token is used to paginate through large
                      result sets. A next page token will be returned whenever the
                      set of available results exceeds the current page size. The
                      expiration period for this token is 15 minutes.
                  page_size:
                    type: string
                    description: The number of records returned within a single API
                      call.
                  total_records:
                    type: string
                    description: Total number of records returned.
                  sites:
                    type: array
                    description: List of site(s).
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Site ID. Unique Identifier of the site.
                        name:
                          type: string
                          description: Name of the Site.
                        site_code:
                          type: string
                          description: Site Code
                        main_auto_receptionist:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Identifier of the [auto receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Interactive-Voice-Response-IVR-).
                            extension_id:
                              type: string
                              description: Extension ID
                            extension_number:
                              type: string
                              description: Extension number
                            name:
                              type: string
                              description: Name of the auto receptionist.
                          description: Auto Receptionist for each site.
                        country:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Name of the country.
                            code:
                              type: string
                              description: Two lettered country [code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).
                          description: Site country
    post:
      tags:
        - Phone Site
      summary: Create a phone site
      description: |+
        Sites allow you to organize Zoom Phone users in your organization. Use this API to create a [Site](https://support.zoom.us/hc/en-us/articles/360020809672).<br>
        **Prerequisites:**<br>
        * Multiple Sites must be [enabled](https://support.zoom.us/hc/en-us/articles/360020809672-Managing-Multiple-Sites#h_05c88e35-1593-491f-b1a8-b7139a75dc15).
        * Pro or a higher account with Zoom Phone enabled.
        **Scope:** `phone:write:admin`<br>

         **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`

      operationId: createPhoneSite
      requestBody:
        content:
          application/json:
            schema:
              required:
                - auto_receptionist_name
                - name
              type: object
              properties:
                name:
                  maxLength: 255
                  minLength: 1
                  type: string
                  description: Name of the Site.
                site_code:
                  type: integer
                  description: |+
                    Identifier for a site. If site code is enabled, this field is required.

                auto_receptionist_name:
                  type: string
                  description: Display name of the [auto-receptionist](https://support.zoom.us/hc/en-us/articles/360021121312-Managing-Auto-Receptionists-and-Integrated-Voice-Response-IVR-)
                    for the site.
                default_emergency_address:
                  required:
                    - address_line1
                    - city
                    - country
                    - state_code
                    - zip
                  type: object
                  properties:
                    country:
                      maxLength: 2
                      minLength: 2
                      type: string
                      description: Two lettered country code (Aplha-2 code in ISO-3166)
                        standard of the Site's [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address).
                    address_line1:
                      type: string
                      description: Address Line 1 of the  [emergency address](https://support.zoom.us/hc/en-us/articles/360021062871-Setting-an-Emergency-Address)
                        consisting of house number and street name.
                    address_line2:
                      type: string
[...]
