$font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Site vars

$content-max-width: 1120px;

$sidebar-width: 376px;

$base-size: 24px;

// Color

$bg-color: #eee;
$footer-bg-color: #222;

$brand-dark: #111;
$brand-dark-lighter: #aaabb8;

$brand-light: #DAD8D8;

$brand-light-secondary-text: #666666;
$brand-light-text: $brand-light;

$brand-primary: #333 !default;


//  #ff050c
// #0B5FFF

$brand-secondary: #222222;

// #FF9900;
// #30313F;

$brand-lighten: #eeeeee;

$text-color: #000000 !default;

// Sizes

$margin-top-body: $base-size * 5;

// Breakpoints

$screen-md: 1200px;
$screen-sm: 1200px;
$screen-xs: 768px;

$grid-float-breakpoint: $screen-sm;
